{{#extend "layout" title="Flatlogic One Bootstrap - Documentation Components Charts"}}
    {{#content "sidebar"}}
        {{> sidebar active="components"}}
    {{/content}}
    {{#content "content" mode="replace"}}
        <div class="product-grid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Documentation</li>
                <li class="breadcrumb-item">Components</li>
                <li class="breadcrumb-item active">Charts</li>
            </ol>
            <div class="row">
                <div class="col-12">
                    <div class="widget">
                        <div class="widget-header">
                            <h5 class="fw-bold">Flot Charts</h5>
                        </div>
                        <div class="widget-body">
                            <p class="mb-0">Built with <a href="http://www.flotcharts.org/">Flot JS</a>. Required libs:</p>
                            <div class="components-block rounded">
                                <pre class="m-0"><span class="text-danger">&lt;script </span><span class="text-success">src=</span><span>"node_modules/flot/jquery.flot.js"</span><span class="text-danger">&gt;&lt;/script&gt;</span></pre>
                            </div>
                            <p class="mb-0">Example:</p>
                            <div class="components-block rounded mt-0">
                                <pre class="m-0"><span class="text-danger">let </span><span class="text-success">plot = </span><span>$.plot(placeholder, data, options);</span></pre>
                            </div>
                        </div>
                    </div>

                    <div class="widget">
                        <div class="widget-header">
                            <h5 class="fw-bold">Interactive Sparklines</h5>
                        </div>
                        <div class="widget-body">
                            <p class="mb-0">Built with <a href="http://omnipotent.net/jquery.sparkline/#s-about">jqeruy.sparkline</a>.</p>
                            <div class="components-block rounded"><pre><span class="text-danger">&lt;script </span><span class="text-success">src=</span><span>"node_modules/jquery.sparkline/index.js"</span><span class="text-danger">&gt;&lt;/script&gt;</span></pre></div>
                            <p class="mb-0">Example:</p>
                            <div class="components-block rounded mt-0"><pre><span class="text-danger">let&nbsp;</span><span class="text-success">myValues = </span><span class="">[10,8,5,7,4,4,1];</span><br><br><span>$(</span><span class="text-success">.dynamicsparkline'</span><span>)sparkline(myvalues);</span></pre></div>
                        </div>
                    </div>

                    <div class="widget">
                        <div class="widget-header">
                            <h5 class="fw-bold">Rickshaw</h5>
                        </div>
                        <div class="widget-body">
                            <p>Realtime chart is based on <a href="https://tech.shutterstock.com/rickshaw/">Rickshaw
                                realtime example</a>.</p>
                            <div class="components-block rounded"><pre><span class="text-danger">&lt;script </span><span class="text-success">src=</span><span>"node_modules/rickshaw.min.js"</span><span class="text-danger">&gt;&lt;/script&gt;</span></pre></div>
                            <p class="mb-0">Example:</p>
                            <div class="components-block rounded mt-0"><pre><span class="text-danger">let&nbsp;</span><span class="text-success">data = </span><span class="">[ { x: 0, y: 40 }, { x: 1, y: 49 }, { x: 2, y: 17 }, { x: 3, y: 42 } ];</span><br><br><span class="text-danger">let </span><span class="text-success">graph </span><span>new Rickshaw.Graph( { placeholder, options, series: [data] }); </span></pre></div>
                        </div>
                    </div>

                    <div class="widget">
                        <div class="widget-header">
                            <h5 class="fw-bold">Sparkline Pie Chart</h5>
                        </div>
                        <div class="widget-body">
                            <p>Same as interactive sparklines based on <a href="http://omnipotent.net/jquery.sparkline/#s-about">jqeruy.sparkline</a>.</p>
                            <div class="components-block rounded mt-0"><pre><span class="text-danger">let&nbsp;</span><span class="text-success">myValues = </span><span class="">[10,8,5,7,4,4,1];</span><br><br><span>$(</span><span class="text-success">.dynamicsparkline'</span><span>)sparkline(myvalues, {type: 'pie'});</span></pre></div>
                        </div>
                    </div>

                    <div class="widget">
                        <div class="widget-header">
                            <h5 class="fw-bold">Morris Charts</h5>
                        </div>
                        <div class="widget-body">
                            <p>Built with <a href="http://www.oesmith.co.uk/morris.js/">Morris JS</a>.</p>
                            <div class="components-block rounded"><pre style="margin: 0; line-height: 125%"><span class="text-danger">&lt;script </span><span class="text-success">src=</span><span class="text-warning">"node_modules/raphael/raphael-min.js"</span><span class="text-danger">&gt;&lt;/script&gt;</span>
<span class="text-danger">&lt;script </span><span class="text-success">src=</span><span class="text-warning">"node_modules/morris.js/morris.min.js"</span><span class="text-danger">&gt;&lt;/script&gt;</span>
</pre></div>
                        </div>
                    </div>

                    <div class="widget">
                        <div class="widget-header">
                            <h5 class="fw-bold">Easy Pie Charts</h5>
                        </div>
                        <div class="widget-body">
                            <p>Built with <a href="https://github.com/rendro/easy-pie-chart">Easy Pie Chart</a>.</p>
                            <div class="components-block rounded"><pre style="margin: 0; line-height: 125%"><span class="text-danger">&lt;script </span><span class="text-success">src=</span><span class="text-warning">&quot;node_modules/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js&quot;</span><span class="text-danger">&gt;&lt;/script&gt;</span>
</pre></div>
                        </div>
                    </div>

                    <div class="widget">
                        <div class="widget-header">
                            <h5 class="fw-bold">Flot Bars</h5>
                        </div>
                        <div class="widget-body">
                            <p>Same as Flot Charts built with <a href="http://www.flotcharts.org/">Flot</a>. A bit different dependencies:</p>
                            <div class="components-block rounded"><pre style="margin: 0; line-height: 125%"><span class="text-danger">&lt;script </span><span class="text-success">src=</span><span class="text-warning">&quot;node_modules/flot.animator/jquery.flot.animator.min.js&quot;</span><span class="text-danger">&gt;&lt;/script&gt;</span>
<span class="text-danger">&lt;script </span><span class="text-success">src=</span><span class="text-warning">&quot;node_modules/flot/jquery.flot.js&quot;</span><span class="text-danger">&gt;&lt;/script&gt;</span>
<span class="text-danger">&lt;script </span><span class="text-success">src=</span><span class="text-warning">&quot;node_modules/flot-orderBars/js/jquery.flot.orderBars.js&quot;</span><span class="text-danger">&gt;&lt;/script&gt;</span>
<span class="text-danger">&lt;script </span><span class="text-success">src=</span><span class="text-warning">&quot;node_modules/flot/jquery.flot.selection.js&quot;</span><span class="text-danger">&gt;&lt;/script&gt;</span>
<span class="text-danger">&lt;script </span><span class="text-success">src=</span><span class="text-warning">&quot;node_modules/flot/jquery.flot.time.js&quot;</span><span class="text-danger">&gt;&lt;/script&gt;</span>
</pre></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
    {{#content "scripts"}}
    {{/content}}
{{/extend}}
