{{#extend "layout" title="Flatlogic One Bootstrap - Documentation Components Forms"}}
    {{#content "sidebar"}}
        {{> sidebar active="components"}}
    {{/content}}
    {{#content "content" mode="replace"}}
        <div class="product-grid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Documentation</li>
                <li class="breadcrumb-item">Components</li>
                <li class="breadcrumb-item active">Forms</li>
            </ol>
            <div class="row">
                <div class="col-12">
                    <div class="widget">
                        <header>
                            <h5>Form Elements</h5>
                        </header>
                        <div class="widget-body">
                            <p>There are four general styles available to style forms:
                                <code>.form-horizontal</code>, <code>.form-condensed</code>, <code>.form-label-left</code> and "no style" for horizontal placed inputs,
                                decreased margins, labels aligned to left and default form accordingly. You can combine any of them together.</p>
                            <p class="mb-0">Example:</p>
                            <form class="form-horizontal" action="/action_page.php">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="email">Email:</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="email" placeholder="Enter email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="pwd">Password:</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="pwd" placeholder="Enter password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <div class="form-check abc-checkbox abc-checkbox-warning mb-2">
                                            <input class="form-check-input" id="checkbox1" type="checkbox" checked>
                                            <label class="form-check-label" for="checkbox1">
                                                Remember me
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="widget">
                        <header>
                            <h5>Inputs</h5>
                        </header>
                        <div class="widget-body">
                            <p>Bootstrap styles input by default, so there is no need to add any classes to inputs. Just use them. Don't forget to include input type.</p>
                            <p>Bootstrap has a great <a href="https://getbootstrap.com/docs/4.5/components/input-group/">documentation about inputs</a>.</p>
                            <h5 class="mt fw-semi-bold">Input Sizing</h5>
                            <p>Any input can be sized by adding <code>.col-*-*</code> class. For vertical sizing
                                <code>.input-lg</code> and <code>.input-sm</code> are available.</p>
                            <h5 class="mt fw-semi-bold">Prepened And Appended Inputs</h5>
                            <p>Again Bootstrap helps. It has <a href="https://getbootstrap.com/docs/4.5/components/input-group/#basic-example">everything we need to prepend and append inputs</a>.</p>
                            <p class="mb-0">Example:</p>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">@</span>
                                </div>
                                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                            </div>

                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2">@example.com</span>
                                </div>
                            </div>

                            <label for="basic-url">Your vanity URL</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
                                </div>
                                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                                <div class="input-group-append">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">With textarea</span>
                                </div>
                                <textarea class="form-control" aria-label="With textarea"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="widget">
                        <header>
                            <h5>Textareas</h5>
                        </header>
                        <div class="widget-body">
                            <h5 class="mt fw-semi-bold"></h5>
                            <p>Auto-growing textarea uses <a href="http://www.jacklmoore.com/autosize/">jQuery Autosize</a> plugin
                                to increase area size dynamically. Files:</p>
                            <div class="components-block rounded"><pre style="margin: 0; line-height: 125%"><span class="text-danger">&lt;script </span><span class="text-success">src=</span><span class="text-warning">&quot;node_modules/jquery-autosize/jquery.autosize.min.js&quot;</span><span class="text-danger">&gt;&lt;/script&gt;</span>
</pre></div>
                            <p class="mb-0">Example:</p>
                            <div class="components-block rounded mt-0">
                                <pre class="m-0"><span class="text-danger">autosize(</span><span class="text-success">document.querySelector</span><span>('textarea'));</span></pre>
                            </div>
                            <hr>
                            <p>Wysiwyg editor is based on <a href="https://jhollingworth.github.com/bootstrap-wysihtml5/">
                                bootstrap-wysihtml5</a>. Files:</p>
                            <div class="components-block rounded"><pre style="margin: 0; line-height: 125%"><span class="text-danger">&lt;script </span><span class="text-success">src=</span><span class="text-warning">&quot;node_modules/bootstrap3-wysihtml5/lib/js/wysihtml5-0.3.0.min.js&quot;</span><span class="text-danger">&gt;&lt;/script&gt;</span>
<span class="text-danger">&lt;script </span><span class="text-success">src=</span><span class="text-warning">&quot;node_modules/bootstrap3-wysihtml5/src/bootstrap3-wysihtml5.js&quot;</span><span class="text-danger">&gt;&lt;/script&gt;</span>
</pre></div>
                            <p class="mb-0">Example:</p>
                            <div class="components-block rounded mt-0">
                                <pre class="m-0"><span class="text-danger">$(</span><span class="text-success">'.textarea').</span><span>wysihtml5();</span></pre>
                            </div>
                            <hr>
                            <p>Markdown editor is built with <a href="https://github.com/evilstreak/markdown-js">Markdown js</a>. Files:</p>
                            <div class="components-block rounded"><pre style="margin: 0; line-height: 125%">
<span class="text-danger">&lt;script </span><span class="text-success">src=</span><span class="text-warning">&quot;node_modules/markdown/lib/markdown.js&quot;&gt;&lt;/script&gt;</span>
</pre></div>
                            <p class="mb-0">Example:</p>
                            <div class="components-block rounded mt-0">
                                <pre class="m-0"><span class="text-danger">let </span><span class="text-success">markdown = </span><span>require( "markdown" ).markdown;</span></pre>
                            </div>
                        </div>
                    </div>

                    <div class="widget">
                        <header>
                            <h5>Selects</h5>
                        </header>
                        <div class="widget-body">
                            <p>Two different type of selects avaiables in <strong>Flatlogic One</strong> template:</p>
                            <ul>
                                <li><a href="https://ivaynberg.github.com/select2/">Select2</a> - is a really powerful tool used to convert default selects to interactive search-enabled widgets.</li>
                                <li><a href="https://github.com/silviomoreto/bootstrap-select">Bootstrap Select</a> - is Bootstrap based custom select, designed to behave like regular Bootstrap selects.
                                    This one can be colored as any button.</li>
                            </ul>
                            <p>Required files:</p>
                            <div class="components-block rounded"><pre style="margin: 0; line-height: 125%"><span class="text-danger">&lt;script </span><span class="text-success">src=</span><span class="text-warning">&quot;node_modules/bootstrap-select/dist/js/bootstrap-select.min.js&quot;</span><span class="text-danger">&gt;&lt;/script&gt;</span>
<span class="text-danger">&lt;script </span><span class="text-success">src=</span><span class="text-warning">&quot;node_modules/select2/select2.min.js&quot;</span><span class="text-danger">&gt;&lt;/script&gt;</span>
</pre></div>
                        </div>
                    </div>

                    <div class="widget">
                        <header>
                            <h5>Checkboxes And Radios</h5>
                        </header>
                        <div class="widget-body">
                            <p>Two different type of selects avaiables in <strong>Flatlogic One</strong> template:</p>
                            <ul>
                                <li><a href="https://ivaynberg.github.com/select2/">Select2</a> - is a really powerful tool used to convert default selects to interactive search-enabled widgets.</li>
                                <li><a href="https://github.com/silviomoreto/bootstrap-select">Bootstrap Select</a> - is Bootstrap based custom select, designed to behave like regular Bootstrap selects.
                                    This one can be colored as any button.</li>
                            </ul>
                            <p>Required files:</p>
                            <div class="components-block rounded"><pre style="margin: 0; line-height: 125%"><span class="text-danger">&lt;script </span><span class="text-success">src=</span><span class="text-warning">&quot;node_modules/bootstrap-select/dist/js/bootstrap-select.min.js&quot;</span><span class="text-danger">&gt;&lt;/script&gt;</span>
<span class="text-danger">&lt;script </span><span class="text-success">src=</span><span class="text-warning">&quot;node_modules/select2/select2.min.js&quot;</span><span class="text-danger">&gt;&lt;/script&gt;</span>
</pre></div>
                        </div>
                    </div>

                    <div class="widget">
                        <header>
                            <h5>Button-Like Checkboxes</h5>
                        </header>
                        <div class="widget-body">
                            <p>Bootstrap has a great api to handle button states -
                                <a href="https://getbootstrap.com/javascript/#buttons">bootstrap-button.js</a>, so using it to
                                imitate checkbox or radio buttons.</p>
                        </div>
                    </div>

                    <div class="widget">
                        <header>
                            <h5>IOs-Like Switches</h5>
                        </header>
                        <div class="widget-body">
                            <p>There is a special plugin to do that - <a href="https://abpetkov.github.io/switchery/">Switchery</a>.
                                Include following files:</p>
                            <div class="components-block rounded"><pre style="margin: 0; line-height: 125%"><span class="text-danger">&lt;script </span><span class="text-success">src=</span><span class="text-warning">&quot;node_modules/switchery/dist/switchery.min.js&quot;</span><span class="text-danger">&gt;&lt;/script&gt;</span>
</pre></div>
                        </div>
                    </div>

                    <div class="widget">
                        <header>
                            <h5>Pickers</h5>
                        </header>
                        <div class="widget-body">
                            <p>Any field may have either <a href="https://github.com/Eonasdan/bootstrap-datetimepicker">Datetimepicker</a>
                                or <a href="http://www.eyecon.ro/bootstrap-colorpicker/">Colorpicker</a> attached. Required files:</p>
                            <div class="components-block rounded"><pre style="margin: 0; line-height: 125%"><span class="text-danger">&lt;script </span><span class="text-success">src=</span><span class="text-warning">&quot;node_modules/moment/min/moment.min.js&quot;</span><span class="text-danger">&gt;&lt;/script&gt;</span>
<span class="text-danger">&lt;script </span><span class="text-success">src=</span><span class="text-warning">&quot;node_modules/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js&quot;</span><span class="text-danger">&gt;&lt;/script&gt;</span>
<span class="text-danger">&lt;script </span><span class="text-success">src=</span><span class="text-warning">&quot;node_modules/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js&quot;</span><span class="text-danger">&gt;&lt;/script&gt;</span>
</pre></div>

                        </div>
                    </div>

                    <div class="widget">
                        <header>
                            <h5>Masked Inputs</h5>
                        </header>
                        <div class="widget-body">
                            <p>To make any input accept only formatted values there is a great plugin to use -
                                <a href="https://jasny.github.io/bootstrap/">jasny's inputmask.js</a>. Files:</p>
                            <div class="components-block rounded"><pre style="margin: 0; line-height: 125%"><span class="text-danger">&lt;script </span><span class="text-success">src=</span><span class="text-warning">&quot;node_modules/jasny-bootstrap/js/inputmask.js&quot;</span><span class="text-danger">&gt;&lt;/script&gt;</span>
</pre></div>

                        </div>
                    </div>

                    <div class="widget">
                        <header>
                            <h5>Sliders</h5>
                        </header>
                        <div class="widget-body">
                            <p>Flatlogic One sliders are styled version of <a href="https://github.com/seiyria/bootstrap-slider">Bootstrap
                                Slider plugin</a>.</p>
                            <div class="components-block rounded"><pre style="margin: 0; line-height: 125%"><span class="text-danger">&lt;script </span><span class="text-success">src=</span><span class="text-warning">&quot;node_modules/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js&quot;</span><span class="text-danger">&gt;&lt;/script&gt;</span>
</pre></div>
                        </div>
                    </div>

                    <div class="widget">
                        <header>
                            <h5>Simple Files Upload</h5>
                        </header>
                        <div class="widget-body">
                            <p>Same as masked input based on <a href="https://jasny.github.io/bootstrap/">Jasny's BS fork</a>. Files:</p>
                            <div class="components-block rounded"><pre style="margin: 0; line-height: 125%"><span class="text-danger">&lt;script </span><span class="text-success">src=</span><span class="text-warning">&quot;node_modules/jasny-bootstrap/js/fileinput.js&quot;</span><span class="text-danger">&gt;&lt;/script&gt;</span>
</pre></div>
                        </div>
                    </div>

                    <div class="widget">
                        <header>
                            <h5>Dropzone</h5>
                        </header>
                        <div class="widget-body">
                            <p>Dead simple file upload plugin with image preview <a href="http://www.dropzonejs.com/">Dropzone</a>.</p>
                            <div class="components-block rounded"><pre style="margin: 0; line-height: 125%"><span class="text-danger">&lt;script </span><span class="text-success">src=</span><span class="text-warning">&quot;node_modules/dropzone/downloads/dropzone.min.js&quot;</span><span class="text-danger">&gt;&lt;/script&gt;</span>
</pre></div>
                        </div>
                    </div>

                    <div class="widget">
                        <header>
                            <h5 id="f_validation">Validation</h5>
                        </header>
                        <div class="widget-body">
                            <p><strong>Flatlogic One</strong> uses really great validation plugin -
                                <a href="http://parsleyjs.org/">parsley.js</a>. It's better to
                                let it say itself:</p>
                            Javascript forms validation.
                            Powerful, UX aware & Dead simple.
                            Never write a Flatlogic Onele javascript line anymore to validate your forms FrontEnd. Parsley will do that for you – and do it right –, thanks to its powerful DOM-API !
                            <p>To activate it you need to add <code>data-validate="parsley"</code> to your form to make it work. That's it.</p>
                            <p>If you want to add step-by-step validation with <a href="#f_wizard">wizard</a> please check
                                <a href="http://parsleyjs.org/doc/examples/multisteps.html">this guide</a>.</p>
                            <p>Files:</p>
                            <div class="components-block rounded"><pre style="margin: 0; line-height: 125%"><span class="text-danger">&lt;script </span><span class="text-success">src=</span><span class="text-warning">&quot;node_modules/parsleyjs/dist/parsley.min.js&quot;</span><span class="text-danger">&gt;&lt;/script&gt;</span>
</pre></div>
                        </div>
                    </div>

                    <div class="widget">
                        <header>
                            <h5 id="f_wizard">Wizard</h5>
                        </header>
                        <div class="widget-body">
                            <p><a href="http://vadimg.com/twitter-bootstrap-wizard-example/">Twitter Bootstrap Wizard Plugin</a> is used to build wizard-enabled widget.</p>
                            This twitter bootstrap plugin builds a wizard out of a formatter tabbable structure. It allows to build a wizard functionality uFlatlogic One buttons to go through the different wizard steps and uFlatlogic One events allows to hook into each step individually.
                            <p>To activate it you need to call <code>$("#rootwizard").bootstrapWizard();</code> on your markup to create wizard.</p>
                            <p>If you want to add step-by-step wizard <a href="#f_validation">validation</a> please check
                                <a href="http://parsleyjs.org/doc/examples/multisteps.html">this guide</a>.</p>
                            <p>Files:</p>
                            <div class="components-block rounded"><pre style="margin: 0; line-height: 125%"><span class="text-danger">&lt;script </span><span class="text-success">src=</span><span class="text-warning">&quot;node_modules/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js&quot;</span><span class="text-danger">&gt;&lt;/script&gt;</span>
</pre></div>

                            <p>Example Markup:</p>
                            <div class="components-block rounded"><pre style="margin: 0; line-height: 125%; color: white"><span class="text-danger">&lt;div</span> <span class="text-success">id=</span><span class="text-warning">&quot;rootwizard&quot;</span><span class="text-danger">&gt;</span>
    <span class="text-danger">&lt;div</span> <span class="text-success">class=</span><span class="text-warning">&quot;navbar&quot;</span><span class="text-danger">&gt;</span>
      <span class="text-danger">&lt;div</span> <span class="text-success">class=</span><span class="text-warning">&quot;navbar-inner&quot;</span><span class="text-danger">&gt;</span>
        <span class="text-danger">&lt;div</span> <span class="text-success">class=</span><span class="text-warning">&quot;container&quot;</span><span class="text-danger">&gt;</span>
            <span class="text-danger">&lt;ul&gt;</span>
                <span class="text-danger">&lt;li&gt;&lt;a</span> <span class="text-success">href=</span><span class="text-warning">&quot;#tab1&quot;</span> <span class="text-success">data-toggle=</span><span class="text-warning">&quot;tab&quot;</span><span class="text-danger">&gt;</span>First<span class="text-danger">&lt;/a&gt;&lt;/li&gt;</span>
                <span class="text-danger">&lt;li&gt;&lt;a</span> <span class="text-success">href=</span><span class="text-warning">&quot;#tab2&quot;</span> <span class="text-success">data-toggle=</span><span class="text-warning">&quot;tab&quot;</span><span class="text-danger">&gt;</span>Second<span class="text-danger">&lt;/a&gt;&lt;/li&gt;</span>
                <span class="text-danger">&lt;li&gt;&lt;a</span> <span class="text-success">href=</span><span class="text-warning">&quot;#tab3&quot;</span> <span class="text-success">data-toggle=</span><span class="text-warning">&quot;tab&quot;</span><span class="text-danger">&gt;</span>Third<span class="text-danger">&lt;/a&gt;&lt;/li&gt;</span>
                <span class="text-danger">&lt;li&gt;&lt;a</span> <span class="text-success">href=</span><span class="text-warning">&quot;#tab4&quot;</span> <span class="text-success">data-toggle=</span><span class="text-warning">&quot;tab&quot;</span><span class="text-danger">&gt;</span>Forth<span class="text-danger">&lt;/a&gt;&lt;/li&gt;</span>
                <span class="text-danger">&lt;li&gt;&lt;a</span> <span class="text-success">href=</span><span class="text-warning">&quot;#tab5&quot;</span> <span class="text-success">data-toggle=</span><span class="text-warning">&quot;tab&quot;</span><span class="text-danger">&gt;</span>Fifth<span class="text-danger">&lt;/a&gt;&lt;/li&gt;</span>
                <span class="text-danger">&lt;li&gt;&lt;a</span> <span class="text-success">href=</span><span class="text-warning">&quot;#tab6&quot;</span> <span class="text-success">data-toggle=</span><span class="text-warning">&quot;tab&quot;</span><span class="text-danger">&gt;</span>Sixth<span class="text-danger">&lt;/a&gt;&lt;/li&gt;</span>
                <span class="text-danger">&lt;li&gt;&lt;a</span> <span class="text-success">href=</span><span class="text-warning">&quot;#tab7&quot;</span> <span class="text-success">data-toggle=</span><span class="text-warning">&quot;tab&quot;</span><span class="text-danger">&gt;</span>Seventh<span class="text-danger">&lt;/a&gt;&lt;/li&gt;</span>
            <span class="text-danger">&lt;/ul&gt;</span>
        <span class="text-danger">&lt;/div&gt;</span>
      <span class="text-danger">&lt;/div&gt;</span>
    <span class="text-danger">&lt;/div&gt;</span>
    <span class="text-danger">&lt;div</span> <span class="text-success">class=</span><span class="text-warning">&quot;tab-content&quot;</span><span class="text-danger">&gt;</span>
        <span class="text-danger">&lt;div</span> <span class="text-success">class=</span><span class="text-warning">&quot;tab-pane&quot;</span> <span class="text-success">id=</span><span class="text-warning">&quot;tab1&quot;</span><span class="text-danger">&gt;</span>
          1
        <span class="text-danger">&lt;/div&gt;</span>
        <span class="text-danger">&lt;div</span> <span class="text-success">class=</span><span class="text-warning">&quot;tab-pane&quot;</span> <span class="text-success">id=</span><span class="text-warning">&quot;tab2&quot;</span><span class="text-danger">&gt;</span>
          2
        <span class="text-danger">&lt;/div&gt;</span>
        <span class="text-danger">&lt;div</span> <span class="text-success">class=</span><span class="text-warning">&quot;tab-pane&quot;</span> <span class="text-success">id=</span><span class="text-warning">&quot;tab3&quot;</span><span class="text-danger">&gt;</span>
            3
        <span class="text-danger">&lt;/div&gt;</span>
        <span class="text-danger">&lt;div</span> <span class="text-success">class=</span><span class="text-warning">&quot;tab-pane&quot;</span> <span class="text-success">id=</span><span class="text-warning">&quot;tab4&quot;</span><span class="text-danger">&gt;</span>
            4
        <span class="text-danger">&lt;/div&gt;</span>
        <span class="text-danger">&lt;div</span> <span class="text-success">class=</span><span class="text-warning">&quot;tab-pane&quot;</span> <span class="text-success">id=</span><span class="text-warning">&quot;tab5&quot;</span><span class="text-danger">&gt;</span>
            5
        <span class="text-danger">&lt;/div&gt;</span>
        <span class="text-danger">&lt;div</span> <span class="text-success">class=</span><span class="text-warning">&quot;tab-pane&quot;</span> <span class="text-success">id=</span><span class="text-warning">&quot;tab6&quot;</span><span class="text-danger">&gt;</span>
            6
        <span class="text-danger">&lt;/div&gt;</span>
        <span class="text-danger">&lt;div</span> <span class="text-success">class=</span><span class="text-warning">&quot;tab-pane&quot;</span> <span class="text-success">id=</span><span class="text-warning">&quot;tab7&quot;</span><span class="text-danger">&gt;</span>
            7
        <span class="text-danger">&lt;/div&gt;</span>
        <span class="text-danger">&lt;ul</span> <span class="text-success">class=</span><span class="text-warning">&quot;pager wizard&quot;</span><span class="text-danger">&gt;</span>
            <span class="text-danger">&lt;li</span> <span class="text-success">class=</span><span class="text-warning">&quot;previous first&quot;</span> <span class="text-success">style=</span><span class="text-warning">&quot;display:none;&quot;</span><span class="text-danger">&gt;&lt;a</span> <span class="text-success">href=</span><span class="text-warning">&quot;#&quot;</span><span class="text-danger">&gt;</span>First<span class="text-danger">&lt;/a&gt;&lt;/li&gt;</span>
            <span class="text-danger">&lt;li</span> <span class="text-success">class=</span><span class="text-warning">&quot;previous&quot;</span><span class="text-danger">&gt;&lt;a</span> <span class="text-success">href=</span><span class="text-warning">&quot;#&quot;</span><span class="text-danger">&gt;</span>Previous<span class="text-danger">&lt;/a&gt;&lt;/li&gt;</span>
            <span class="text-danger">&lt;li</span> <span class="text-success">class=</span><span class="text-warning">&quot;next last&quot;</span> <span class="text-success">style=</span><span class="text-warning">&quot;display:none;&quot;</span><span class="text-danger">&gt;&lt;a</span> <span class="text-success">href=</span><span class="text-warning">&quot;#&quot;</span><span class="text-danger">&gt;</span>Last<span class="text-danger">&lt;/a&gt;&lt;/li&gt;</span>
            <span class="text-danger">&lt;li</span> <span class="text-success">class=</span><span class="text-warning">&quot;next&quot;</span><span class="text-danger">&gt;&lt;a</span> <span class="text-success">href=</span><span class="text-warning">&quot;#&quot;</span><span class="text-danger">&gt;</span>Next<span class="text-danger">&lt;/a&gt;&lt;/li&gt;</span>
        <span class="text-danger">&lt;/ul&gt;</span>
    <span class="text-danger">&lt;/div&gt;</span>
<span class="text-danger">&lt;/div&gt;</span>
</pre></div>
                        </div>
                    </div>

                    <div class="widget">
                        <header>
                            <h5>Application Wizard</h5>
                        </header>
                        <div class="widget-body">
                            <p><a href="https://github.com/amoffat/bootstrap-application-wizard">Bootstrap Application Wizard</a>
                                is a ready to use wizard component with simple install process. You don't even need to have any special
                                markup to instantiate it.</p>
                            <div class="components-block rounded"><pre style="margin: 0; line-height: 125%"><span class="text-danger">&lt;script </span><span class="text-success">src=</span><span class="text-warning">&quot;node_modules/bootstrap-application-wizard/src/bootstrap-wizard.js&quot;</span><span class="text-danger">&gt;&lt;/script&gt;</span>
</pre></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
    {{#content "scripts"}}
    {{/content}}
{{/extend}}
