{{#extend "layout" title="Flatlogic One Bootstrap - Documentation Components Overview"}}
    {{#content "sidebar"}}
        {{> sidebar active="components"}}
    {{/content}}
    {{#content "content" mode="replace"}}
        <div class="product-grid">
            <h1 class="page-title">App > Documentation > Getting Started  > <span class="fw-semi-bold">Overview</span></h1>
            <div class="row">
                <div class="col-12">
                    <div class="widget">
                        <div class="widget-body mt-4" >
                            <h1>Overview</h1>
                            <p class="lead">Flatlogic One is a completely new product made with Bootstrap 4.
                                The template is very suitable for building analytics and data tables applications.
                                Flatlogic One admin dashboard delivers customizable Bootstrap components for creating
                                modern responsive web applications. The template made with 3 colors: White, Orange, and
                                Grey. The navigation is on the left sidebar and the main content is at the center-right
                                panel.</p>
                            <section>
                                <div aria-hidden="false" style="height: auto; overflow: visible;"><div>
                                    <div class="widget-body">
                                        <h3 class="">Features</h3>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-12">
                                                <ul class="mt list-unstyled">
                                                    <li class="lead"><i class="la la-check"></i> Static Sidebar</li>
                                                    <li class="lead"><i class="la la-check"></i> Beautiful charts made with Amcharts, Echarts and Apexcharts</li>
                                                    <li class="lead"><i class="la la-check"></i> Fully responsive</li>
                                                    <li class="lead"><i class="la la-check"></i> Deep background</li>
                                                    <li class="lead"><i class="la la-check"></i> Developer Oriented Dashboard</li>
                                                    <li class="lead"><i class="la la-check"></i> Login screen</li>
                                                    <li class="lead"><i class="la la-check"></i> Notifications & Icons</li>
                                                    <li class="lead"><i class="la la-check"></i> Flatlogic Typography</li>
                                                    <li class="lead"><i class="la la-check"></i> Flatlogic Icons</li>
                                                    <li class="lead"><i class="la la-check"></i> Google Maps Integrated</li>
                                                    <li class="lead"><i class="la la-check"></i> Datatables made by Flatlogic</li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-6 col-md-12 d-flex align-items-center">
                                                <img class="img-fluid" src="../img/documentation.png" alt="screenshot">
                                            </div>
                                            <div class="col-xs-12">
                                              <h3 class="">Support forum</h3>
                                              <p class="lead">For any additional information please go to our support forum and raise your questions or feedback provide there. We highly appreciate your participation!</p>
                                              <a class="btn btn-default text-gray fw-semi-bold" target="_blank" rel="noopener noreferrer" href="https://flatlogic.com/forum">SUPPORT FORUM</a>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
    {{#content "scripts"}}
    {{/content}}
{{/extend}}
