{{#extend "layout" title="Flatlogic One Bootstrap - Maps Vector"}}
    {{#content "sidebar"}}
        {{> sidebar active="maps_vector"}}
    {{/content}}
    {{#content "content" mode="replace"}}
        <h1 class="page-title">Maps > <span class="fw-semi-bold">Vector Maps</span></h1>
        <p class="lead mt-n4">Sometimes you need to use just simplified version of map. Jvectormap does a great job in such cases.</p>
        <div class="row">
            <div class="col-md-12">
                <section class="widget">
                    <header>
                        <h5>Vector Maps</h5>
                    </header>
                    <div class="widget-body maps widget-table-overlay">
                        <div id="vmap" class="content-map"></div>
                    </div>
                </section>
            </div>
        </div>
    {{/content}}
    {{#content "scripts"}}
        <script src="../../node_modules/jvectormap/jquery-jvectormap.min.js"></script>
        <script src="../../node_modules/jvectormap/tests/assets/jquery-jvectormap-world-mill-en.js"></script>

        <!-- page specific js -->
        <script src="../js/maps/maps-vector.js"></script>
    {{/content}}
{{/extend}}
