{{#extend "layout" title="Flatlogic One Bootstrap - UI Alerts"}}
    {{#content "sidebar"}}
        {{> sidebar active="ui_alerts"}}
    {{/content}}
    {{#content "content" mode="replace"}}
        <h1 class="page-title">UI > <span class="fw-semi-bold">Alerts</span></h1>
        <p class="lead mt-n4">An alert displays a short, important message in a way that attracts the user's attention without interrupting the user's task.</p>
        <div class="row">
            <div class="col-lg-6">
                <section class="widget">
                  <header>
                      <h5>Alert Messages</h5>
                      <div class="widget-controls">
                          <div class="dropdown">
                            <span data-toggle="dropdown" aria-haspopup="true" class="" aria-expanded="false">
                                <img src="../img/icons/dots.svg" alt="dropdown">
                            </span>
                            <div tabindex="-1" role="menu" aria-hidden="true" class="bg-widget-transparent dropdown-menu dropdown-menu-right" style="padding: 10px;">
                              <button type="button" title="Reload" tabindex="0" role="menuitem" class="dropdown-item">Reload &nbsp;&nbsp;
                                  <span class="badge badge-pill badge-success animated bounceIn">
                                        <strong>9</strong>
                                    </span>
                              </button>
                              <button type="button" title="Expand" data-widgster="expand" tabindex="0" role="menuitem" class="dropdown-item">Expand</button>
                              <button type="button" title="Collapse" data-widgster="collapse" tabindex="0" role="menuitem" class="dropdown-item">Collapse</button>

                              <div tabindex="-1" class="dropdown-divider"></div>
                              <button type="button" title="Close" tabindex="0" role="menuitem" class="dropdown-item" data-widgster="close">Close</button>
                            </div>
                          </div>
                      </div>
                  </header>
                  <div class="widget-body">
                    <p>Alerts are available for any length of text, as well as an optional dismiss button.</p>
                      <div class="alert alert-success alert-sm">
                          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                          <span class="fw-semi-bold">Success:</span> You successfully read this important alert message.
                      </div>
                      <div class="alert alert-info alert-sm">
                          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                          <span class="fw-semi-bold">Info:</span> This alert needs your attention, but it's not super important.
                      </div>
                      <div class="alert alert-warning alert-sm">
                          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                          <span class="fw-semi-bold">Warning:</span> Best check yo self, you're not looking too good.
                      </div>
                      <div class="alert alert-danger alert-sm">
                          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                          <span class="fw-semi-bold">Danger:</span> Change this and that and try again.
                          <a class="btn bg-white btn-xs float-md-right mr" href="#">Ignore</a>
                          <a class="btn bg-white btn-danger btn-xs float-md-right d-none d-lg-block mr-2" href="#">Take this action</a>
                      </div>
                  </div>
              </section>
            </div>
            <div class="col-lg-6">
              <section class="widget">
                <header>
                    <h5>Transparent Alerts</h5>
                    <div class="widget-controls">
                        <div class="dropdown">
                            <span data-toggle="dropdown" aria-haspopup="true" class="" aria-expanded="false">
                                <img src="../img/icons/dots.svg" alt="dropdown">
                            </span>
                            <div tabindex="-1" role="menu" aria-hidden="true" class="bg-widget-transparent dropdown-menu dropdown-menu-right" style="padding: 10px;">
                                <button type="button" title="Reload" tabindex="0" role="menuitem" class="dropdown-item">Reload &nbsp;&nbsp;
                                    <span class="badge badge-pill badge-success animated bounceIn">
                                        <strong>9</strong>
                                    </span>
                                </button>
                                <button type="button" title="Expand" data-widgster="expand" tabindex="0" role="menuitem" class="dropdown-item">Expand</button>
                                <button type="button" title="Collapse" data-widgster="collapse" tabindex="0" role="menuitem" class="dropdown-item">Collapse</button>

                                <div tabindex="-1" class="dropdown-divider"></div>
                                <button type="button" title="Close" tabindex="0" role="menuitem" class="dropdown-item" data-widgster="close">Close</button>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="widget-body">
                  <p>Transparent alerts are also available by adding <code>.alert-transparent</code> class.</p>
                    <div class="alert alert-success alert-transparent alert-sm">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <span class="fw-semi-bold">Success:</span> You successfully read this important alert message.
                    </div>
                    <div class="alert alert-info alert-transparent alert-sm">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <span class="fw-semi-bold">Info:</span> This alert needs your attention, but it's not super important.
                        <a class="btn bg-white btn-xs float-md-right mr" href="#">Ignore</a>
                        <a class="btn bg-white btn-info btn-xs float-md-right mr-2" href="#">Take this action</a>
                    </div>
                    <div class="alert alert-warning alert-transparent alert-sm">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <span class="fw-semi-bold">Warning:</span> Best check yo self, you're not looking too good.
                    </div>
                    <div class="alert alert-danger alert-transparent alert-sm">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <span class="fw-semi-bold">Danger:</span> Change this and that and try again.
                    </div>
                </div>
              </section>
            </div>
            <div class="col-lg-6">
                <section class="widget">
                  <header>
                      <h5>Rounded Alerts</h5>
                      <div class="widget-controls">
                          <div class="dropdown">
                                <span data-toggle="dropdown" aria-haspopup="true" class="" aria-expanded="false">
                                    <img src="../img/icons/dots.svg" alt="dropdown">
                                </span>
                              <div tabindex="-1" role="menu" aria-hidden="true" class="bg-widget-transparent dropdown-menu dropdown-menu-right" style="padding: 10px;">
                                  <button type="button" title="Reload" tabindex="0" role="menuitem" class="dropdown-item">Reload &nbsp;&nbsp;
                                      <span class="badge badge-pill badge-success animated bounceIn">
                                        <strong>9</strong>
                                    </span>
                                  </button>
                                  <button type="button" title="Expand" data-widgster="expand" tabindex="0" role="menuitem" class="dropdown-item">Expand</button>
                                  <button type="button" title="Collapse" data-widgster="collapse" tabindex="0" role="menuitem" class="dropdown-item">Collapse</button>

                                  <div tabindex="-1" class="dropdown-divider"></div>
                                  <button type="button" title="Close" tabindex="0" role="menuitem" class="dropdown-item" data-widgster="close">Close</button>
                              </div>
                          </div>
                      </div>
                  </header>
                  <div class="widget-body">
                    <p>Rounded alerts are available by adding <code>.alert-rounded</code> class.</p>
                      <div class="alert alert-success alert-transparent alert-rounded alert-sm">
                          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                          <span class="fw-semi-bold">Success:</span> You successfully read this important alert message.
                      </div>
                      <div class="alert alert-info alert-rounded alert-sm">
                          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                          <span class="fw-semi-bold">Info:</span> This alert needs your attention, but it's not super important.
                          <a class="btn bg-white btn-xs float-md-right mr" href="#">Ignore</a>
                          <a class="btn bg-white btn-info btn-xs float-md-right mr-2" href="#">Take this action</a>
                      </div>
                      <div class="alert alert-warning alert-rounded alert-transparent alert-sm">
                          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                          <span class="fw-semi-bold">Warning:</span> Best check yo self, you're not looking too good.
                      </div>
                      <div class="alert alert-danger alert-rounded alert-sm">
                          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                          <span class="fw-semi-bold">Danger:</span> Change this and that and try again.
                      </div>
                  </div>
                </section>
              </div>
            <div class="col-lg-6">
                <section class="widget">
                  <header>
                      <h5>Additional Content</h5>
                      <div class="widget-controls">
                          <div class="dropdown">
                            <span data-toggle="dropdown" aria-haspopup="true" class="" aria-expanded="false">
                                <img src="../img/icons/dots.svg" alt="dropdown">
                            </span>
                              <div tabindex="-1" role="menu" aria-hidden="true" class="bg-widget-transparent dropdown-menu dropdown-menu-right" style="padding: 10px;">
                                  <button type="button" title="Reload" tabindex="0" role="menuitem" class="dropdown-item">Reload &nbsp;&nbsp;
                                      <span class="badge badge-pill badge-success animated bounceIn">
                                        <strong>9</strong>
                                    </span>
                                  </button>
                                  <button type="button" title="Expand" data-widgster="expand" tabindex="0" role="menuitem" class="dropdown-item">Expand</button>
                                  <button type="button" title="Collapse" data-widgster="collapse" tabindex="0" role="menuitem" class="dropdown-item">Collapse</button>

                                  <div tabindex="-1" class="dropdown-divider"></div>
                                  <button type="button" title="Close" tabindex="0" role="menuitem" class="dropdown-item" data-widgster="close">Close</button>
                              </div>
                          </div>
                      </div>
                  </header>
                  <div class="widget-body">
                    <p>Alerts can also contain additional HTML elements like headings, paragraphs and dividers.</p>
                    <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">Well done!</h4>
                        <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
                        <hr>
                        <p class="alert-footer mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
                    </div>
                    <div class="alert alert-danger" role="alert">
                        <h4 class="alert-heading">Well done!</h4>
                        <p class="alert-footer mb-0">Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
                    </div>
                  </div>
                </section>
            </div>
        </div>
    {{/content}}
    {{#content "scripts"}}
        <script src="../js/components/ui-alerts.js"></script>
    {{/content}}
{{/extend}}
