{{#extend "layout" title="Flatlogic One Bootstrap - UI Badge"}}
    {{#content "sidebar"}}
        {{> sidebar active="ui_badge"}}
    {{/content}}
    {{#content "content" mode="replace"}}
        <h1 class="page-title">UI > <span class="fw-semi-bold">Badge</span></h1>
        <p class="lead mt-n4">Badges are small status descriptors for UI elements.</p>
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="row">
                    <div class="col-md-12">
                        <section class="widget">
                            <header>
                                <h5>Badge Example</h5>
                                <div class="widget-controls">
                                    <div class="dropdown">
                                        <span data-toggle="dropdown" aria-haspopup="true" class="" aria-expanded="false">
                                            <img src="../img/icons/dots.svg" alt="dropdown">
                                        </span>
                                        <div tabindex="-1" role="menu" aria-hidden="true" class="bg-widget-transparent dropdown-menu dropdown-menu-right" style="padding: 10px;">
                                            <button type="button" title="Reload" tabindex="0" role="menuitem" class="dropdown-item">Reload &nbsp;&nbsp;
                                                <span class="badge badge-pill badge-success animated bounceIn">
                                        <strong>9</strong>
                                    </span>
                                            </button>
                                            <button type="button" title="Expand" data-widgster="expand" tabindex="0" role="menuitem" class="dropdown-item">Expand</button>
                                            <button type="button" title="Collapse" data-widgster="collapse" tabindex="0" role="menuitem" class="dropdown-item">Collapse</button>

                                            <div tabindex="-1" class="dropdown-divider"></div>
                                            <button type="button" title="Close" tabindex="0" role="menuitem" class="dropdown-item" data-widgster="close">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </header>
                            <div class="widget-body">
                                <p>Badges scale to match the size of the immediate parent element by using relative font sizing and em units.</p>
                                <h1>Example heading <span class="badge badge-primary">Primary</span></h1>
                                <h2>Example heading <span class="badge badge-info">Info</span></h2>
                                <h3>Example heading <span class="badge badge-warning">Warning</span></h3>
                                <h4>Example heading <span class="badge badge-success">Success</span></h4>
                                <h5>Example heading <span class="badge badge-danger">Danger</span></h5>
                                <h6>Example heading <span class="badge badge-secondary">Secondary</span></h6>
                                <p class="mt-lg">Badges can be used as part of links or buttons to provide a counter.</p>
                                <button type="button" class="btn btn-primary">
                                    Notifications <span class="badge badge-danger">4</span>
                                </button>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="row">
                    <div class="col-md-12">
                        <section class="widget">
                            <header>
                                <h5>Pill Badges</h5>
                                <div class="widget-controls">
                                    <div class="dropdown">
                                        <span data-toggle="dropdown" aria-haspopup="true" class="" aria-expanded="false">
                                            <img src="../img/icons/dots.svg" alt="dropdown">
                                        </span>
                                        <div tabindex="-1" role="menu" aria-hidden="true" class="bg-widget-transparent dropdown-menu dropdown-menu-right" style="padding: 10px;">
                                            <button type="button" title="Reload" tabindex="0" role="menuitem" class="dropdown-item">Reload &nbsp;&nbsp;
                                                <span class="badge badge-pill badge-success animated bounceIn">
                                        <strong>9</strong>
                                    </span>
                                            </button>
                                            <button type="button" title="Expand" data-widgster="expand" tabindex="0" role="menuitem" class="dropdown-item">Expand</button>
                                            <button type="button" title="Collapse" data-widgster="collapse" tabindex="0" role="menuitem" class="dropdown-item">Collapse</button>

                                            <div tabindex="-1" class="dropdown-divider"></div>
                                            <button type="button" title="Close" tabindex="0" role="menuitem" class="dropdown-item" data-widgster="close">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </header>
                            <div class="widget-body">
                                <p>Use the <code>.badge-pill</code> modifier class to make badges more rounded (with a larger
                                    border-radius and additional horizontal padding).</p>
                                <span class="badge badge-pill badge-primary mr-3">Primary</span>
                                <span class="badge badge-pill badge-secondary mr-3">Secondary</span>
                                <span class="badge badge-pill badge-success mr-3">Success</span>
                                <span class="badge badge-pill badge-danger mr-3">Danger</span>
                                <span class="badge badge-pill badge-warning mr-3">Warning</span>
                                <span class="badge badge-pill badge-info mr-3">Info</span>
                                <span class="badge badge-pill badge-light mr-3">Light</span>
                                <span class="badge badge-pill badge-dark mr-3">Dark</span>
                            </div>
                        </section>
                    </div>
                    <div class="col-md-12">
                        <section class="widget">
                            <header>
                                <h5>Links</h5>
                                <div class="widget-controls">
                                    <div class="dropdown">
                                        <span data-toggle="dropdown" aria-haspopup="true" class="" aria-expanded="false">
                                            <img src="../img/icons/dots.svg" alt="dropdown">
                                        </span>
                                        <div tabindex="-1" role="menu" aria-hidden="true" class="bg-widget-transparent dropdown-menu dropdown-menu-right" style="padding: 10px;">
                                            <button type="button" title="Reload" tabindex="0" role="menuitem" class="dropdown-item">Reload &nbsp;&nbsp;
                                                <span class="badge badge-pill badge-success animated bounceIn">
                                        <strong>9</strong>
                                    </span>
                                            </button>
                                            <button type="button" title="Expand" data-widgster="expand" tabindex="0" role="menuitem" class="dropdown-item">Expand</button>
                                            <button type="button" title="Collapse" data-widgster="collapse" tabindex="0" role="menuitem" class="dropdown-item">Collapse</button>

                                            <div tabindex="-1" class="dropdown-divider"></div>
                                            <button type="button" title="Close" tabindex="0" role="menuitem" class="dropdown-item" data-widgster="close">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </header>
                            <div class="widget-body">
                                <p>Using the contextual <code>.badge-*</code> classes on an <code>&lt;a&gt;</code> element quickly
                                    provide actionable badges with hover and focus states.</p>
                                <a href="#" class="badge badge-primary mr-3">Primary</a>
                                <a href="#" class="badge badge-secondary mr-3">Secondary</a>
                                <a href="#" class="badge badge-success mr-3">Success</a>
                                <a href="#" class="badge badge-danger mr-3">Danger</a>
                                <a href="#" class="badge badge-warning mr-3">Warning</a>
                                <a href="#" class="badge badge-info mr-3">Info</a>
                                <a href="#" class="badge badge-light mr-3">Light</a>
                                <a href="#" class="badge badge-dark mr-3">Dark</a>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
    {{#content "scripts"}}
        <script src="../js/components/ui-badge.js"></script>
    {{/content}}
{{/extend}}
