{{#extend "layout" title="Flatlogic One - UI Jumbotron"}}
    {{#content "sidebar"}}
        {{> sidebar active="ui_jumbotron"}}
    {{/content}}
    {{#content "content" mode="replace"}}
        <h1 class="page-title">UI > <span class="fw-semi-bold">Jumbotron</span></h1>
        <p class="lead mt-n4 mt-n4">A lightweight, flexible Bootstrap’s component that can optionally reach the entire viewport to showcase essential marketing information on your site.</p>
        <div class="row">
            <div class="col-12">
                <div class="jumbotron jumbotron-fluid shadow rounded  mb-xlg">
                    <div class="container-fluid">
                        <h1 class="display-3">Fluid jumbotron</h1>
                        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="jumbotron shadow">
                    <div class="container-fluid">
                        <h1 class="display-3">Hello, world!</h1>
                        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                        <hr class="my-4">
                        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                        <p class="lead mb-0">
                            <a class="btn btn-warning btn-lg" href="#" role="button">Learn more</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}
