{{#extend "layout" title="Flatlogic One - UI Alerts"}}
    {{#content "sidebar"}}
        {{> sidebar active="ui_modal"}}
    {{/content}}
    {{#content "content" mode="replace"}}
        <h1 class="page-title">UI > <span class="fw-semi-bold">Modal</span></h1>
        <p class="lead mt-n4">Use modal plugin to add dialogs to your site for lightboxes, user notifications, or completely custom content.</p>
        <div class="row">
            <div class="col-md-6">
                <section class="widget">
                    <header>
                        <h5>Live demo</h5>
                        <div class="widget-controls">
                            <div class="dropdown">
                        <span data-toggle="dropdown" aria-haspopup="true" class="" aria-expanded="false">
                            <img src="../img/icons/dots.svg" alt="dropdown">
                        </span>
                                <div tabindex="-1" role="menu" aria-hidden="true" class="bg-widget-transparent dropdown-menu dropdown-menu-right" style="padding: 10px;">
                                    <button type="button" title="Reload" tabindex="0" role="menuitem" class="dropdown-item">Reload &nbsp;&nbsp;
                                        <span class="badge badge-pill badge-success animated bounceIn">
                                    <strong>9</strong>
                                </span>
                                    </button>
                                    <button type="button" title="Full Screen" tabindex="0" role="menuitem" class="dropdown-item">Fullscreen</button>
                                    <div tabindex="-1" class="dropdown-divider"></div>
                                    <button type="button" title="Close" tabindex="0" role="menuitem" class="dropdown-item" data-widgster="close">Close</button>
                                </div>
                            </div>
                        </div>
                    </header>
                    <div class="widget-body">
                        <p>Toggle a working modal demo by clicking the button below. It will slide down and fade in from the top of the page.</p>

                        <!-- Buttons trigger modal -->
                        <div class="d-flex">
                            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">
                                Demo
                            </button>
                            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalCenter">
                                Vertically centered
                            </button>
                            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalLong">
                                Scrolling long content
                            </button>
                        </div>

                </section>
                <section class="widget mt-xlg">
                    <header>
                        <h5>Optional sizes</h5>
                        <div class="widget-controls">
                            <div class="dropdown">
                        <span data-toggle="dropdown" aria-haspopup="true" class="" aria-expanded="false">
                            <img src="../img/icons/dots.svg" alt="dropdown">
                        </span>
                                <div tabindex="-1" role="menu" aria-hidden="true" class="bg-widget-transparent dropdown-menu dropdown-menu-right" style="padding: 10px;">
                                    <button type="button" title="Reload" tabindex="0" role="menuitem" class="dropdown-item">Reload &nbsp;&nbsp;
                                        <span class="badge badge-pill badge-success animated bounceIn">
                                    <strong>9</strong>
                                </span>
                                    </button>
                                    <button type="button" title="Full Screen" tabindex="0" role="menuitem" class="dropdown-item">Fullscreen</button>
                                    <div tabindex="-1" class="dropdown-divider"></div>
                                    <button type="button" title="Close" tabindex="0" role="menuitem" class="dropdown-item" data-widgster="close">Close</button>
                                </div>
                            </div>
                        </div>
                    </header>
                    <div class="widget-body">
                        <p>Modals have two optional sizes, available via modifier <code>.modal-sm</code> and <code>.modal-lg</code> classes to be placed on a
                            <code>.modal-dialog</code>. These sizes kick in at certain breakpoints to avoid horizontal scrollbars on narrower viewports.</p>

                        <!-- Buttons -->
                        <div class="d-flex">
                            <button type="button" class="btn btn-warning" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>
                            <button type="button" class="btn btn-warning" data-toggle="modal" data-target=".bd-example-modal-sm">Small modal</button>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-6">
                <section class="widget">
                    <header>
                        <h5>Using grid</h5>
                        <div class="widget-controls">
                            <div class="dropdown">
                            <span data-toggle="dropdown" aria-haspopup="true" class="" aria-expanded="false">
                                <img src="../img/icons/dots.svg" alt="dropdown">
                            </span>
                                <div tabindex="-1" role="menu" aria-hidden="true" class="bg-widget-transparent dropdown-menu dropdown-menu-right" style="padding: 10px;">
                                    <button type="button" title="Reload" tabindex="0" role="menuitem" class="dropdown-item">Reload &nbsp;&nbsp;
                                        <span class="badge badge-pill badge-success animated bounceIn">
                                            <strong>9</strong>
                                        </span>
                                    </button>
                                    <button type="button" title="Full Screen" tabindex="0" role="menuitem" class="dropdown-item">Fullscreen</button>
                                    <div tabindex="-1" class="dropdown-divider"></div>
                                    <button type="button" title="Close" tabindex="0" role="menuitem" class="dropdown-item" data-widgster="close">Close</button>
                                </div>
                            </div>
                        </div>

                    </header>
                    <div class="widget-body">
                        <p>Utilize the Bootstrap grid system within a modal by nesting <code>.container-fluid</code> within the <code>.modal-body</code>.
                            Then, use the normal grid system classes as you would anywhere else.</p>
                        <div>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-warning mb-2" data-toggle="modal" data-target="#exampleModalGrid">
                                Launch
                            </button>
                            <pre class="text-info bg-light border-0 mb-0 mt-xs">&lt;div <span class="text-primary">class=</span><span class="text-success">"modal-body"</span>&gt;
    &lt;div <span class="text-primary">class=</span><span class="text-success">"container-fluid"</span>&gt;
        &lt;div <span class="text-primary">class=</span><span class="text-success">"row"</span>&gt;
            &lt;div <span class="text-primary">class=</span><span class="text-success">"col-md-4"</span>&gt;<span>.col-md-4</span>&lt;/div&gt;
            &lt;div <span class="text-primary">class=</span><span class="text-success">"col-md-4 ml-auto"</span>&gt;<span>.col-md-4 .ml-auto</span>&lt;/div&gt;
        &lt;/div&gt;
        &lt;div <span class="text-primary">class=</span><span class="text-success">"row"</span>&gt;
            &lt;div <span class="text-primary">class=</span><span class="text-success">"col-md-3 ml-auto"</span>&gt;<span>.col-md-4</span>&lt;/div&gt;
            &lt;div <span class="text-primary">class=</span><span class="text-success">"col-md-4 ml-auto"</span>&gt;<span>.col-md-4 .ml-auto</span>&lt;/div&gt;
        &lt;/div&gt;
        &lt;div <span class="text-primary">class=</span><span class="text-success">"row"</span>&gt;
            &lt;div <span class="text-primary">class=</span><span class="text-success">"col-md-6 ml-auto"</span>&gt;<span>.col-md-6 .ml-auto</span>&lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>
                        </div>
                </section>
            </div>
        </div>
    {{/content}}
    {{#content "scripts"}}
        <!-- Modal -->
        <div class="modal fade" id="exampleModalGrid" tabindex="-1" role="dialog" aria-labelledby="exampleModalGridTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalGridTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid text-white">
                            <div class="row">
                                <div class="col-md-4"><div class="h-100 w-100 bg-warning p-2">.col-md-4</div></div>
                                <div class="col-md-4 ml-auto"><div class="h-100 w-100 bg-warning p-2">.col-md-4 .ml-auto</div></div>
                            </div>
                            <div class="row mt-sm">
                                <div class="col-md-3 ml-auto"><div class="h-100 w-100 bg-warning p-2">.col-md-3 .ml-auto</div></div>
                                <div class="col-md-4 ml-auto"><div class="h-100 w-100 bg-warning p-2">.col-md-4 .ml-auto</div></div>
                            </div>
                            <div class="row mt-sm">
                                <div class="col-md-6 ml-auto"><div class="h-100 w-100 bg-warning p-2">.col-md-6 .ml-auto</div></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-warning">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-warning">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-warning">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque minima sit, suscipit
                            quidem enim molestiae aut. Nesciunt, commodi non voluptas ipsum cumque dicta praesentium, a
                            aspernatur similique ullam tempora quam voluptatem modi repudiandae dolore sit quod at odio
                            quasi debitis eveniet. Praesentium vel in ullam neque vitae nemo cupiditate eaque.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque minima sit, suscipit
                            quidem enim molestiae aut. Nesciunt, commodi non voluptas ipsum cumque dicta praesentium, a
                            aspernatur similique ullam tempora quam voluptatem modi repudiandae dolore sit quod at odio
                            quasi debitis eveniet. Praesentium vel in ullam neque vitae nemo cupiditate eaque.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque minima sit, suscipit
                            quidem enim molestiae aut. Nesciunt, commodi non voluptas ipsum cumque dicta praesentium, a
                            aspernatur similique ullam tempora quam voluptatem modi repudiandae dolore sit quod at odio
                            quasi debitis eveniet. Praesentium vel in ullam neque vitae nemo cupiditate eaque.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque minima sit, suscipit
                            quidem enim molestiae aut. Nesciunt, commodi non voluptas ipsum cumque dicta praesentium, a
                            aspernatur similique ullam tempora quam voluptatem modi repudiandae dolore sit quod at odio
                            quasi debitis eveniet. Praesentium vel in ullam neque vitae nemo cupiditate eaque.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque minima sit, suscipit
                            quidem enim molestiae aut. Nesciunt, commodi non voluptas ipsum cumque dicta praesentium, a
                            aspernatur similique ullam tempora quam voluptatem modi repudiandae dolore sit quod at odio
                            quasi debitis eveniet. Praesentium vel in ullam neque vitae nemo cupiditate eaque.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque minima sit, suscipit
                            quidem enim molestiae aut. Nesciunt, commodi non voluptas ipsum cumque dicta praesentium, a
                            aspernatur similique ullam tempora quam voluptatem modi repudiandae dolore sit quod at odio
                            quasi debitis eveniet. Praesentium vel in ullam neque vitae nemo cupiditate eaque.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-warning">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Large modal -->
        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Large modal</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, illum harum? Quidem, quisquam, natus repellat debitis veniam quia facilis
                            magni tempora cupiditate odio vitae? Eligendi nisi consequuntur vero tenetur nemo!</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-warning">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Small modal -->
        <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Small modal</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, illum harum? Quidem, quisquam, natus repellat debitis veniam quia facilis
                            magni tempora cupiditate odio vitae? Eligendi nisi consequuntur vero tenetur nemo!</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-warning">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="../js/components/ui-modal.js"></script>
    {{/content}}
{{/extend}}
