{{#extend "layout" title="Flatlogic One - Easy Pie Charts"}}
    {{#content "sidebar"}}
        {{> sidebar active="charts_easy_pie"}}
    {{/content}}
    {{#content "content" mode="replace"}}
        <h1 class="page-title">UI > <span class="fw-semi-bold">Easy Pie Charts</span></h1>
        <div class="row">
            <div class="col-lg-4 col-xl-4">
                <section class="widget">
                    <header>
                        <h5>Easy Pie Charts</h5>
                        <div class="widget-controls">
                            <div class="dropdown">
                                <span data-toggle="dropdown" aria-haspopup="true" class="" aria-expanded="false">
                                    <img src="../img/icons/dots.svg" alt="dropdown">
                                </span>
                                <div tabindex="-1" role="menu" aria-hidden="true" class="bg-widget-transparent dropdown-menu dropdown-menu-right" style="padding: 10px;">
                                    <button type="button" title="Reload" tabindex="0" role="menuitem" class="dropdown-item">Reload &nbsp;&nbsp;
                                        <span class="badge badge-pill badge-success animated bounceIn">
                                            <strong>9</strong>
                                        </span>
                                    </button>
                                    <button type="button" title="Full Screen" tabindex="0" role="menuitem" class="dropdown-item">Fullscreen</button>
                                    <div tabindex="-1" class="dropdown-divider"></div>
                                    <button type="button" title="Close" tabindex="0" role="menuitem" class="dropdown-item" data-widgster="close">Close</button>
                                </div>
                            </div>
                        </div>
                    </header>
                    <div class="widget-body clearfix">
                        <div class="text-center">
                            <div class="easy-pie-chart-md mb-lg" id="easy-pie1" data-percent="73">
                            </div>
                        </div>
                        <p class="fs-mini">
                            Easy pie chart is a jQuery plugin that uses the canvas element to render simple pie charts
                            for single values. These charts are highly customizable, very easy to implement, scale to
                            the resolution of the display of the client to provide sharp charts even on retina displays.
                        </p>
                    </div>
                </section>
            </div>
            <div class="col-lg-4 col-xl-4">
                <section class="widget">
                    <header>
                        <h5>Easy Pie Charts</h5>
                        <div class="widget-controls">
                            <div class="dropdown">
                                <span data-toggle="dropdown" aria-haspopup="true" class="" aria-expanded="false">
                                    <img src="../img/icons/dots.svg" alt="dropdown">
                                </span>
                                <div tabindex="-1" role="menu" aria-hidden="true" class="bg-widget-transparent dropdown-menu dropdown-menu-right" style="padding: 10px;">
                                    <button type="button" title="Reload" tabindex="0" role="menuitem" class="dropdown-item">Reload &nbsp;&nbsp;
                                        <span class="badge badge-pill badge-success animated bounceIn">
                                            <strong>9</strong>
                                        </span>
                                    </button>
                                    <button type="button" title="Full Screen" tabindex="0" role="menuitem" class="dropdown-item">Fullscreen</button>
                                    <div tabindex="-1" class="dropdown-divider"></div>
                                    <button type="button" title="Close" tabindex="0" role="menuitem" class="dropdown-item" data-widgster="close">Close</button>
                                </div>
                            </div>
                        </div>
                    </header>
                    <div class="widget-body clearfix">
                        <div class="text-center">
                            <div class="easy-pie-chart-lg mb-lg" id="easy-pie2" data-percent="22">
                                22
                            </div>
                        </div>
                        <div class="text-center">
                            <div class="easy-pie-chart-lg mb-lg" id="easy-pie3" data-percent="88">
                                88
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-4 col-xl-4">
                <section class="widget">
                    <header>
                        <h5>Easy Pie Charts</h5>
                        <div class="widget-controls">
                            <div class="dropdown">
                                <span data-toggle="dropdown" aria-haspopup="true" class="" aria-expanded="false">
                                    <img src="../img/icons/dots.svg" alt="dropdown">
                                </span>
                                <div tabindex="-1" role="menu" aria-hidden="true" class="bg-widget-transparent dropdown-menu dropdown-menu-right" style="padding: 10px;">
                                    <button type="button" title="Reload" tabindex="0" role="menuitem" class="dropdown-item">Reload &nbsp;&nbsp;
                                        <span class="badge badge-pill badge-success animated bounceIn">
                                            <strong>9</strong>
                                        </span>
                                    </button>
                                    <button type="button" title="Full Screen" tabindex="0" role="menuitem" class="dropdown-item">Fullscreen</button>
                                    <div tabindex="-1" class="dropdown-divider"></div>
                                    <button type="button" title="Close" tabindex="0" role="menuitem" class="dropdown-item" data-widgster="close">Close</button>
                                </div>
                            </div>
                        </div>
                    </header>
                    <div class="widget-body clearfix">
                        <p class="fs-mini">
                            Ok, but <span class="fw-semi-bold">when to use pie chart?</span> Pie charts are mostly
                            used to show how much individual shares — such as quarterly sales figures — contribute to a total
                            amount, such as annual sales.
                        </p>
                        <div class="text-center">
                            <div class="easy-pie-chart-md mb-lg" id="easy-pie4" data-percent="43">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <h6 class="no-margin">TOTAL PROGRESS</h6>
                                <p class="h2 no-margin fw-normal">43,32%</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    {{/content}}
    {{#content "scripts"}}
        <script src="../../node_modules/easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
        <!-- page specific js -->
        <script src="../js/charts/easy-pie.js"></script>
    {{/content}}
{{/extend}}
