{{#extend "layout" title="Flatlogic One - Sparkline Charts"}}
    {{#content "sidebar"}}
        {{> sidebar active="charts_sparkline"}}
    {{/content}}
    {{#content "content" mode="replace"}}
        <h1 class="page-title">UI > <span class="fw-semi-bold">Sparkline Charts</span></h1>
        <div class="row">
            <div class="col-lg-6 col-xl-5">
                <section class="widget">
                    <header>
                        <h5>Sparkline Bar Chart</h5>
                        <div class="widget-controls">
                            <div class="dropdown">
                        <span data-toggle="dropdown" aria-haspopup="true" class="" aria-expanded="false">
                            <img src="../img/icons/dots.svg" alt="dropdown">
                        </span>
                                <div tabindex="-1" role="menu" aria-hidden="true" class="bg-widget-transparent dropdown-menu dropdown-menu-right" style="padding: 10px;">
                                    <button type="button" title="Reload" tabindex="0" role="menuitem" class="dropdown-item">Reload &nbsp;&nbsp;
                                        <span class="badge badge-pill badge-success animated bounceIn">
                                    <strong>9</strong>
                                </span>
                                    </button>

                                    <div tabindex="-1" class="dropdown-divider"></div>
                                    <button type="button" title="Close" tabindex="0" role="menuitem" class="dropdown-item" data-widgster="close">Close</button>
                                </div>
                            </div>
                        </div>
                    </header>
                    <div class="widget-body">
                        <p class="fs-mini">
                            Each example displayed below takes just 1 line of HTML or javascript to generate.
                        </p>
                        <div id="sparkline4" class="chart-overflow-bottom mb-0 text-center"></div>
                        <div class="stats-row mt">
                            <div class="stat-item">
                                <h6 class="name">ARR ($)</h6>
                                <p class="value">4 375 800</p>
                            </div>
                            <div class="stat-item">
                                <h6 class="name">MRR ($)</h6>
                                <p class="value">863 425</p>
                            </div>
                            <div class="stat-item">
                                <h6 class="name">TTN ($)</h6>
                                <p class="value">5 634 100</p>
                            </div>
                            <div class="stat-item">
                                <h6 class="name">MRR / ARR </h6>
                                <p class="value">0.1634</p>
                            </div>
                        </div>
                        <hr>
                        <p class="clearfix">
                            <small class="float-left">
                                <span class="badge badge-warning">Profit</span> Legend Item Emulation
                            </small>
                            <small class="float-right">
                                <span class="badge badge-danger">Loss</span> Legend Item Emulation
                            </small>
                        </p>
                    </div>
                </section>
            </div>
            <div class="col-lg-6 col-xl-4">
                <section class="widget">
                    <header>
                        <h5>Sparkline Pie Chart</h5>
                        <div class="widget-controls">
                            <div class="dropdown">
                        <span data-toggle="dropdown" aria-haspopup="true" class="" aria-expanded="false">
                            <img src="../img/icons/dots.svg" alt="dropdown">
                        </span>
                                <div tabindex="-1" role="menu" aria-hidden="true" class="bg-widget-transparent dropdown-menu dropdown-menu-right" style="padding: 10px;">
                                    <button type="button" title="Reload" tabindex="0" role="menuitem" class="dropdown-item">Reload &nbsp;&nbsp;
                                        <span class="badge badge-pill badge-success animated bounceIn">
                                    <strong>9</strong>
                                </span>
                                    </button>

                                    <div tabindex="-1" class="dropdown-divider"></div>
                                    <button type="button" title="Close" tabindex="0" role="menuitem" class="dropdown-item" data-widgster="close">Close</button>
                                </div>
                            </div>
                        </div>
                    </header>
                    <div class="widget-body">
                        <p class="fs-mini">
                            Each example displayed below takes just 1 line of HTML or javascript to generate.
                        </p>
                        <div id="sparkline2" class="chart-overflow-bottom mb-0 text-center"></div>
                        <div>
                            <span class="fw-normal">Sales Report</span> <br>
                            <div class="progress progress-xs mt-2">
                                <div class="progress-bar progress-bar-primary" role="progressbar" style="width: 16%" aria-valuenow="16" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <small>Prev year quota achievement 16%. Should work harder!</small>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-6 col-xl-3">
                <section class="widget">
                    <header>
                        <h5>Area Sparkline</h5>
                        <div class="widget-controls">
                            <div class="dropdown">
                        <span data-toggle="dropdown" aria-haspopup="true" class="" aria-expanded="false">
                            <img src="../img/icons/dots.svg" alt="dropdown">
                        </span>
                                <div tabindex="-1" role="menu" aria-hidden="true" class="bg-widget-transparent dropdown-menu dropdown-menu-right" style="padding: 10px;">
                                    <button type="button" title="Reload" tabindex="0" role="menuitem" class="dropdown-item">Reload &nbsp;&nbsp;
                                        <span class="badge badge-pill badge-success animated bounceIn">
                                    <strong>9</strong>
                                </span>
                                    </button>

                                    <div tabindex="-1" class="dropdown-divider"></div>
                                    <button type="button" title="Close" tabindex="0" role="menuitem" class="dropdown-item" data-widgster="close">Close</button>
                                </div>
                            </div>
                        </div>
                    </header>
                    <div class="widget-body">
                        <p class="fs-mini">
                            Each example displayed below takes just 1 line of HTML or javascript to generate.
                        </p>
                        <div class="stats-row mt">
                            <div class="stat-item">
                                <h6 class="name">Overall Growth</h6>
                                <p class="value">43.75%</p>
                            </div>
                            <div class="stat-item">
                                <h6 class="name">Montly</h6>
                                <p class="value">86.34%</p>
                            </div>
                        </div>
                        <p class="text-muted fs-mini">
                            <span class="fw-semi-bold">17% higher</span> than last month
                        </p>
                        <div id="sparkline1" class="chart-overflow-bottom"></div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 col-xl-9">
                <section class="widget">
                    <header>
                        <h5>Sparkline Line Chart</h5>
                        <div class="widget-controls">
                            <div class="dropdown">
                        <span data-toggle="dropdown" aria-haspopup="true" class="" aria-expanded="false">
                            <img src="../img/icons/dots.svg" alt="dropdown">
                        </span>
                                <div tabindex="-1" role="menu" aria-hidden="true" class="bg-widget-transparent dropdown-menu dropdown-menu-right" style="padding: 10px;">
                                    <button type="button" title="Reload" tabindex="0" role="menuitem" class="dropdown-item">Reload &nbsp;&nbsp;
                                        <span class="badge badge-pill badge-success animated bounceIn">
                                    <strong>9</strong>
                                </span>
                                    </button>

                                    <div tabindex="-1" class="dropdown-divider"></div>
                                    <button type="button" title="Close" tabindex="0" role="menuitem" class="dropdown-item" data-widgster="close">Close</button>
                                </div>
                            </div>
                        </div>
                    </header>
                    <div class="widget-body">
                        <p class="fs-mini">
                            Each example displayed below takes just 1 line of HTML or javascript to generate.
                        </p>
                        <div id="sparkline3" class="chart-overflow-bottom"></div>
                    </div>
                </section>
            </div>
            <div class="col-lg-5 col-xl-3">
                <section class="widget">
                    <header>
                        <h5>Sparkline Pie Chart</h5>
                        <div class="widget-controls">
                            <div class="dropdown">
                        <span data-toggle="dropdown" aria-haspopup="true" class="" aria-expanded="false">
                            <img src="../img/icons/dots.svg" alt="dropdown">
                        </span>
                                <div tabindex="-1" role="menu" aria-hidden="true" class="bg-widget-transparent dropdown-menu dropdown-menu-right" style="padding: 10px;">
                                    <button type="button" title="Reload" tabindex="0" role="menuitem" class="dropdown-item">Reload &nbsp;&nbsp;
                                        <span class="badge badge-pill badge-success animated bounceIn">
                                    <strong>9</strong>
                                </span>
                                    </button>

                                    <div tabindex="-1" class="dropdown-divider"></div>
                                    <button type="button" title="Close" tabindex="0" role="menuitem" class="dropdown-item" data-widgster="close">Close</button>
                                </div>
                            </div>
                        </div>
                    </header>
                    <div class="widget-body">
                        <p class="fs-mini">
                            Each example displayed below takes just 1 line of HTML or javascript to generate.
                        </p>
                        <div id="sparkline7" class="chart-overflow-bottom mb-4 text-center"></div>
                        <p class="mt">Possible actions:</p>
                        <p class="btn-group mb-0 bord" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-light">Yoga</button>
                            <button type="button" class="btn btn-light">Coffee</button>
                            <button type="button" class="btn btn-light">Dancing</button>
                        </p>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <section class="widget">
                    <header>
                        <h5>Sparkline Tristate Chart</h5>
                        <div class="widget-controls">
                            <div class="dropdown">
                        <span data-toggle="dropdown" aria-haspopup="true" class="" aria-expanded="false">
                            <img src="../img/icons/dots.svg" alt="dropdown">
                        </span>
                                <div tabindex="-1" role="menu" aria-hidden="true" class="bg-widget-transparent dropdown-menu dropdown-menu-right" style="padding: 10px;">
                                    <button type="button" title="Reload" tabindex="0" role="menuitem" class="dropdown-item">Reload &nbsp;&nbsp;
                                        <span class="badge badge-pill badge-success animated bounceIn">
                                    <strong>9</strong>
                                </span>
                                    </button>

                                    <div tabindex="-1" class="dropdown-divider"></div>
                                    <button type="button" title="Close" tabindex="0" role="menuitem" class="dropdown-item" data-widgster="close">Close</button>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mt">
                            <input type="text" class="form-control" placeholder="Filter By Period: MM/DD/YYY">
                            <span class="input-group-append">
                                <button type="submit" class="btn border">
                                    <i class="fa fa-search text-gray"></i>
                                </button>
                            </span>
                        </div>
                    </header>
                    <div class="widget-body">
                        <p class="fs-mini ">
                            Each example displayed below takes just 1 line of HTML or javascript to generate.
                        </p>
                        <div id="sparkline5" class="chart-overflow-bottom mb-0 text-center"></div>
                    </div>
                </section>
            </div>
            <div class="col-lg-6">
                <section class="widget">
                    <header>
                        <h5>Sparkline Line Chart</h5>
                        <div class="widget-controls">
                            <div class="dropdown">
                        <span data-toggle="dropdown" aria-haspopup="true" class="" aria-expanded="false">
                            <img src="../img/icons/dots.svg" alt="dropdown">
                        </span>
                                <div tabindex="-1" role="menu" aria-hidden="true" class="bg-widget-transparent dropdown-menu dropdown-menu-right" style="padding: 10px;">
                                    <button type="button" title="Reload" tabindex="0" role="menuitem" class="dropdown-item">Reload &nbsp;&nbsp;
                                        <span class="badge badge-pill badge-success animated bounceIn">
                                    <strong>9</strong>
                                </span>
                                    </button>

                                    <div tabindex="-1" class="dropdown-divider"></div>
                                    <button type="button" title="Close" tabindex="0" role="menuitem" class="dropdown-item" data-widgster="close">Close</button>
                                </div>
                            </div>
                        </div>
                    </header>
                    <div class="widget-body">
                        <p class="fs-mini">
                            Example displayed below takes just 1 line of HTML or javascript to generate.
                        </p>
                        <div id="sparkline6" class="chart-overflow-bottom mb-0 text-center"></div>
                    </div>
                </section>
            </div>
        </div>
    {{/content}}
    {{#content "scripts"}}
        <script src="../../node_modules/jquery-sparkline/jquery.sparkline.js"></script>

        <!-- page specific js -->
        <script src="../js/charts/sparkline.js"></script>
    {{/content}}
{{/extend}}
