{{#extend "layout" title="Flatlogic One Bootstrap - Calendar"}}
    {{#content "sidebar"}}
        {{> sidebar active="calendar"}}
    {{/content}}
    {{#content "content" mode="replace"}}
        <h1 class="page-title">Extra > <span class="fw-semi-bold">Calendar</span></h1>
        <p class="lead mt-n4">A simple calendar plugin for jQuery and Twitter Bootstrap.</p>
        <div class="row">
            <div class="col-lg-3 col-xl-4">
                <div class="widget">
                    <header>
                        <h5>Draggable Events</h5>
                    </header>
                    <div class="widget-body">
                        <p>Just drag and drop events from there directly into the calendar.</p>
                        <div class="calendar-external-events mb-lg" id='external-events'>
                            <div class='external-event bg-inverse text-white' data-event-class="bg-gray text-white">Buy this template</div>
                            <div class='external-event bg-primary text-white' data-event-class="bg-primary text-white">Study some Node
                            </div>
                            <div class='external-event bg-info text-white' data-event-class="bg-info text-white">Make a tea</div>
                            <div class='external-event bg-success text-white' data-event-class="bg-success text-white">Go to school
                            </div>
                            <div class='external-event bg-warning text-white' data-event-class="bg-warning text-white">Open windows
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-xl-8">
                <section class="widget widget-calendar">
                    <div class="widget-body">
                        <div class="calendar-controls row">
                            <div class="col-7 d-flex justify-content-end">
                                <div class="btn-group d-flex align-items-center">
                                    <button class="btn my-0 mr-2" id="calender-prev"><i class="fa fa-angle-left fs-xlg text-muted"></i></button>
                                    <span class="fw-semi-bold mb-0" id="calender-current-date">Calendar - Events</span>
                                    <button class="btn my-0 ml-2" id="calender-next"><i class="fa fa-angle-right fs-xlg text-muted"></i></button>
                                </div>
                            </div>
                            <div class="col-5 d-flex justify-content-end">
                                <button
                                        class="btn btn-lg btn-default bg-white dropdown-toggle custom-dropdown mr-0"
                                        type="button" id="dropdownMenu"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="true">
                                    Change View
                                </button>
                                <div class="dropdown-menu" id="select" aria-labelledby="dropdownMenu" style="position: absolute; transform: translate3d(0px, 34px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="bottom-start">
                                    <button class="dropdown-item" type="button" value="month">Month</button>
                                    <button class="dropdown-item" type="button" value="agendaWeek">Week</button>
                                    <button class="dropdown-item" type="button" value="agendaDay">Day</button>
                                </div>
        <!--                        <select class="selectpicker" data-style="btn-default" data-width="auto" tabindex="-1"-->
        <!--                                id="simple-select">-->
        <!--                            <option class="dropdown-item" name="view" value="month">Month</option>-->
        <!--                            <option class="dropdown-item" name="view" value="agendaWeek">Week</option>-->
        <!--                            <option class="dropdown-item" name="view" value="agendaDay">Day</option>-->
        <!--                        </select>-->
                              </div>
                        </div>
                        <div id="calendar" class="calendar"></div>
                    </div>
                </section>
            </div>
        </div>
    {{/content}}
    {{#content "scripts"}}
        <script src="../../node_modules/moment/min/moment.min.js"></script>
        <script src="../../node_modules/components-jqueryui/jquery-ui.js"></script>
        <script src="../../node_modules/fullcalendar/dist/fullcalendar.min.js"></script>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel17"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header no-border">
                        <h6 class="modal-title fw-bold mt" id="myModalLabel17">Edit Event</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <p>One fine body…</p>
                    </div>
                    <div class="modal-footer no-border">
                        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel18"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header flex-column no-border">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h6 class="modal-title fw-bold" id="myModalLabel18">New Event</h6>
                        <p class="mt-sm">
                            Just enter event name to create a new one
                        </p>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" id="event-name1" class="form-control" placeholder="Name">
                        </div>
                    </div>
                    <div class="modal-footer no-border">
                        <button data-dismiss="modal" class="btn btn-default">Cancel</button>
                        <button data-dismiss="modal" id="create-event" class="btn btn-success">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- page specific js -->
        <script src="../js/extra/calendar.js"></script>
        <script src="../../node_modules/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    {{/content}}
{{/extend}}
