{{#extend "layout" title="Flatlogic One Bootstrap - Search"}}
    {{#content "sidebar"}}
        {{> sidebar active="search"}}
    {{/content}}
    {{#content "content" mode="replace"}}
        <h1 class="page-title hidden-print">Extra > <span class="fw-semi-bold">Search Results</span></h1>
        <p class="lead mt-n4">Search results page design is one of the most important things that influence user experience when visiting your website.</p>
        <div class="row">
            <div class="col-lg-3 order-lg-2">
                <div class="widget px-0 pb-2">
                    <div class="widget-body">
                        <h5 class="fw-semi-bold px-4">Results Filtering</h5>
                        <p class="fs-sm text-muted px-4 pb-2">Listed content is categorized by the following groups:</p>
                        <ul class="nav nav-pills nav-stacked flex-column search-result-categories mt">
                            <li class="nav-item">
                                <a  class="nav-link" href="#">
                                    Hot Ideas
                                    <span class="badge badge-pill badge-danger float-right">34</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Latest Pictures
                                    <span class="badge badge-pill badge-success float-right">9</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Labels of Day
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Recent Movies
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Globals <span class="badge badge-pill badge-info float-right">18</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 order-lg-1">
                <section class="search-result-item">
                    <a class="image-link" href="#">
                        <img class="image" src="../demo/img/pictures/1.png">
                    </a>
                    <div class="search-result-item-body">
                        <div class="row">
                            <div class="col-md-10">
                                <h4 class="search-result-item-heading">
                                <a href="#">Next generation admin template</a>
                            </h4>
                                <p class="info">
                                    New York, NY 20188
                                </p>
                                <p class="description">
                                    Not just usual Metro. But something bigger. Not just usual widgets, but real
                                    widgets. Not just yet another admin template, but next generation admin template.
                                </p>
                            </div>
                            <div class="col-md-2 text-center">
                                <p class="value3 mt-sm">
                                    $9, 700
                                </p>
                                <p class="fs-sm text-muted">
                                    PER WEEK
                                </p>
                                <a class="btn btn-info " href="#">Learn More</a>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="search-result-item">
                    <a class="image-link" href="#">
                        <img class="image" src="../demo/img/pictures/2.png">
                    </a>
                    <div class="search-result-item-body">
                        <div class="row">
                            <div class="col-md-10">
                                <h4 class="search-result-item-heading">
                                    <a href="#">Try. Posted by Okendoken</a>
                                </h4>
                                <p class="info">
                                    Los Angeles, NY 20188
                                </p>
                                <p class="description">
                                    You will never know exactly how something will go until you try it. You can
                                    think three hundred times and still have no precise result.
                                </p>
                            </div>
                            <div class="col-md-2 text-center">
                                <p class="value3 mt-sm">
                                    $10, 300
                                </p>
                                <p class="fs-sm text-muted">
                                    PER WEEK
                                </p>
                                <a class="btn btn-info" href="#">Learn More</a>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="search-result-item">
                    <a class="image-link" href="#">
                        <img class="image" src="../demo/img/pictures/3.png">
                    </a>
                    <div class="search-result-item-body">
                        <div class="row">
                            <div class="col-md-10">
                                <h4 class="search-result-item-heading">
                                    <a href="#">Vitaut the Great</a>
                                </h4>
                                <p class="info">
                                    New York, NY 20188
                                </p>
                                <p class="description">
                                    The Great Prince of the Grand Duchy of Lithuania he had stopped the invasion to
                                    Europe of Timur (Tamerlan) from Asia heading a big Army of Belarusians, Lithuanians.
                                </p>
                            </div>
                            <div class="col-md-2 text-center">
                                <p class="value3 mt-sm">
                                    $3, 200
                                </p>
                                <p class="fs-sm text-muted">
                                    PER WEEK
                                </p>
                                <a class="btn btn-info" href="#">Learn More</a>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="search-result-item">
                    <a class="image-link" href="#">
                        <img class="image" src="../demo/img/pictures/4.png">
                    </a>
                    <div class="search-result-item-body">
                        <div class="row">
                            <div class="col-md-10">
                                <h4 class="search-result-item-heading">
                                    <a href="#">Can I use CSS3 Radial-Gradient?</a>
                                </h4>
                                <p class="info">
                                    Minsk, NY 20188
                                </p>
                                <p class="description">
                                    Yes you can! Further more, you should! It let's you create really beautiful images
                                    either for elements or for the entire background.
                                </p>
                            </div>
                            <div class="col-md-2 text-center">
                                <p class="value3 mt-sm">
                                    $2, 400
                                </p>
                                <p class="fs-sm text-muted">
                                    PER MONTH
                                </p>
                                <a class="btn btn-info" href="#">Learn More</a>
                            </div>
                        </div>
                    </div>
                </section>
                <ul class="pagination pagination-sm justify-content-center">
                    <li class="page-item disabled"><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">7</a></li>
                    <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right "></i></a></li>
                </ul>
            </div>
        </div>
    {{/content}}
{{/extend}}
