{{#extend "layout" title="Flatlogic One Bootstrap - Product Grid"}}
{{#content "sidebar"}}
{{> sidebar active="product_grid"}}
{{/content}}
{{#content "content" mode="replace"}}
<div class="product-grid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">E-commerce</li>
        <li class="breadcrumb-item active">Management</li>
    </ol>
    <div class="row">
        <div class="product-elements col-12" id="product-grid">
            <div class="widget">
                <div class="widget-body">
                    <div class="table-striped" style="height: 100%;">
                        <div class="table-header-wrapper">
                            <table class="table table-hover">
                                <colgroup>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                </colgroup>
                                <thead>
                                <tr>
                                    <th class="width-50" data-is-only-head="false" data-field="id" style="text-align: left;">
                                        <span class="fs-sm">ID</span>
                                        <div>

                                        </div>
                                    </th>
                                    <th class="" data-is-only-head="false" data-field="img" style="text-align: left;">
                                        <span class="fs-sm">Image</span>
                                        <div></div>
                                    </th>
                                    <th class="" data-is-only-head="false" data-field="title" style="text-align: left;">
                                        <span class="fs-sm">Title</span>
                                        <div></div>
                                    </th>
                                    <th class="" data-is-only-head="false" data-field="subtitle" style="text-align: left;">
                                        <span class="fs-sm">Subtitle</span>
                                        <div></div>
                                    </th>
                                    <th class="" data-is-only-head="false" data-field="price" style="text-align: left;">
                                        <span class="fs-sm">Price($)</span>
                                        <div></div>
                                    </th>
                                    <th class="" data-is-only-head="false" data-field="rating" style="text-align: left;">
                                        <span class="fs-sm">Rating</span>
                                        <div></div>
                                    </th>
                                    <th class="" data-is-only-head="false" data-field="undefined" style="text-align: left;">
                                        <span class="fs-sm">Api</span>
                                        <div></div>
                                    </th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="" style="height: 100%;">
                            <table class="table">
                                <colgroup>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                </colgroup>
                                <tbody>
                                <tr class="">
                                    <td tabindex="1" class="width-50" style="text-align: left;">1</td>
                                    <td tabindex="2" class="" style="text-align: left;">
                                        <img src="../demo/img/products/product1.png" alt="..." style="height: 171px" title="image"></td>
                                    <td tabindex="3" class="" style="text-align: left;">
                                        <a href="#">Trainers</a></td>
                                    <td tabindex="4" class="" style="text-align: left;">Trainers In White</td>
                                    <td tabindex="5" class="" style="text-align: left;">76</td>
                                    <td tabindex="6" class="" style="text-align: left;">
                                        <div class="">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star pl-1" aria-hidden="true"></i>
                                            <i class="fa fa-star pl-1" aria-hidden="true"></i>
                                            <i class="fa fa-star pl-1" aria-hidden="true"></i>
                                            <i class="fa fa-star-half pl-1" aria-hidden="true"></i>
                                            <span class="pl-2">(4.6)</span>
                                        </div>
                                    </td>
                                    <td tabindex="7" class="" style="text-align: left;">
                                        <div role="toolbar" class="d-flex flex-column btn-toolbar">
                                            <button type="button" class="btn btn-info btn-xs" style="background-color: transparent; color: rgb(159, 219, 233); display: block;">
                                                <span class="d-none d-md-inline-block">Edit</span>
                                                <span class="d-md-none"><i class="la la-edit"></i></span>
                                            </button>
                                            <button id="popoverDelete_1" class="btn btn-danger btn-xs" style="background-color: transparent; color: rgb(255, 119, 105);">
                                                <span>
                                                    <span class="d-none d-md-inline-block">Delete</span>
                                                    <span class="d-md-none"><i class="la la-remove"></i>
                                                    </span>
                                                </span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="">
                                    <td tabindex="8" class="width-50" style="text-align: left;">2</td>
                                    <td tabindex="9" class="" style="text-align: left;">
                                        <img src="../demo/img/products/product2.png" alt="..." class="" title="image"></td>
                                    <td tabindex="10" class="" style="text-align: left;">
                                        <a href="#">Boots</a></td>
                                    <td tabindex="11" class="" style="text-align: left;">Trainers In Blue</td>
                                    <td tabindex="12" class="" style="text-align: left;">45</td>
                                    <td tabindex="13" class="" style="text-align: left;">
                                        <div class="Rating_rating__giW3V rating">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star pl-1" aria-hidden="true"></i>
                                            <i class="fa fa-star pl-1" aria-hidden="true"></i>
                                            <i class="fa fa-star pl-1" aria-hidden="true"></i>
                                            <i class="fa fa-star-half pl-1" aria-hidden="true"></i>
                                            <span class="pl-2">(4.6)</span></div></td>
                                    <td tabindex="14" class="" style="text-align: left;">
                                        <div role="toolbar" class="d-flex flex-column btn-toolbar">
                                            <button type="button" class="btn btn-info btn-xs" style="background-color: transparent; color: rgb(159, 219, 233); display: block;">
                                                <span class="d-none d-md-inline-block">Edit</span>
                                                <span class="d-md-none"><i class="la la-edit"></i></span></button>
                                            <button id="popoverDelete_2" class="btn btn-danger btn-xs" style="background-color: transparent; color: rgb(255, 119, 105);">
                                                <span><span class="d-none d-md-inline-block">Delete</span>
                                                    <span class="d-md-none"><i class="la la-remove"></i>
                                                    </span>
                                                </span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr class=""><td tabindex="15" class="width-50" style="text-align: left;">3</td>
                                    <td tabindex="16" class="" style="text-align: left;">
                                        <img src="../demo/img/products/product3.png" alt="..." class="" title="image"></td>
                                    <td tabindex="17" class="" style="text-align: left;"><a href="#/app/ecommerce/product/3">Flat sandals</a></td>
                                    <td tabindex="18" class="" style="text-align: left;">Trainers In White</td>
                                    <td tabindex="19" class="" style="text-align: left;">55</td>
                                    <td tabindex="20" class="" style="text-align: left;">
                                        <div class="">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star pl-1" aria-hidden="true"></i>
                                            <i class="fa fa-star pl-1" aria-hidden="true"></i>
                                            <i class="fa fa-star pl-1" aria-hidden="true"></i>
                                            <i class="fa fa-star-half pl-1" aria-hidden="true"></i>
                                            <span class="pl-2">(4.6)</span>
                                        </div>
                                    </td>
                                    <td tabindex="21" class="" style="text-align: left;">
                                        <div role="toolbar" class="d-flex flex-column btn-toolbar">
                                            <button type="button" class="btn btn-info btn-xs" style="background-color: transparent; color: rgb(159, 219, 233); display: block;">
                                                <span class="d-none d-md-inline-block">Edit</span>
                                                <span class="d-md-none"><i class="la la-edit"></i></span>
                                            </button>
                                            <button id="popoverDelete_3" class="btn btn-danger btn-xs" style="background-color: transparent; color: rgb(255, 119, 105);">
                                                <span>
                                                    <span class="d-none d-md-inline-block">Delete</span>
                                                    <span class="d-md-none"><i class="la la-remove"></i>
                                                    </span>
                                                </span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr class=""><td tabindex="22" class="width-50" style="text-align: left;">4</td>
                                    <td tabindex="23" class="" style="text-align: left;"><img src="../demo/img/products/product4.png" alt="..." class="" title="image"></td>
                                    <td tabindex="24" class="" style="text-align: left;">
                                        <a href="#">Trainers</a></td>
                                    <td tabindex="25" class="" style="text-align: left;">Trainers In White</td>
                                    <td tabindex="26" class="" style="text-align: left;">76</td>
                                    <td tabindex="27" class="" style="text-align: left;"><div class="">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star pl-1" aria-hidden="true"></i>
                                        <i class="fa fa-star pl-1" aria-hidden="true"></i>
                                        <i class="fa fa-star pl-1" aria-hidden="true"></i>
                                        <i class="fa fa-star-half pl-1" aria-hidden="true"></i>
                                        <span class="pl-2">(4.6)</span></div></td>
                                    <td tabindex="28" class="" style="text-align: left;">
                                        <div role="toolbar" class="d-flex flex-column btn-toolbar">
                                            <button type="button" class="btn btn-info btn-xs" style="background-color: transparent; color: rgb(159, 219, 233); display: block;">
                                                <span class="d-none d-md-inline-block">Edit</span>
                                                <span class="d-md-none"><i class="la la-edit"></i>
                                                </span>
                                            </button>
                                            <button id="popoverDelete_4" class="btn btn-danger btn-xs" style="background-color: transparent; color: rgb(255, 119, 105);">
                                                <span>
                                                    <span class="d-none d-md-inline-block">Delete</span>
                                                    <span class="d-md-none"><i class="la la-remove"></i></span>
                                                </span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="">
                                    <td tabindex="29" class="width-50" style="text-align: left;">5</td>
                                    <td tabindex="30" class="" style="text-align: left;">
                                        <img src="../demo/img/products/product5.png" alt="..." class="" title="image"></td>
                                    <td tabindex="31" class="" style="text-align: left;"><a href="#">Boots</a></td>
                                    <td tabindex="32" class="" style="text-align: left;">Trainers In Blue</td>
                                    <td tabindex="33" class="" style="text-align: left;">45</td><td tabindex="34" class="" style="text-align: left;">
                                    <div class="rating">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star pl-1" aria-hidden="true"></i>
                                        <i class="fa fa-star pl-1" aria-hidden="true"></i>
                                        <i class="fa fa-star pl-1" aria-hidden="true"></i>
                                        <i class="fa fa-star-half pl-1" aria-hidden="true"></i>
                                        <span class="pl-2">(4.6)</span>
                                    </div></td>
                                    <td tabindex="35" class="" style="text-align: left;">
                                        <div role="toolbar" class="d-flex flex-column btn-toolbar">
                                            <button type="button" class="btn btn-info btn-xs" style="background-color: transparent; color: rgb(159, 219, 233); display: block;">
                                                <span class="d-none d-md-inline-block">Edit</span>
                                                <span class="d-md-none">
                                                    <i class="la la-edit"></i>
                                                </span>
                                            </button>
                                            <button id="popoverDelete_5" class="btn btn-danger btn-xs" style="background-color: transparent; color: rgb(255, 119, 105);"><span>
                                                <span class="d-none d-md-inline-block">Delete</span><span class="d-md-none"><i class="la la-remove"></i></span>
                                            </span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr class=""><td tabindex="36" class="width-50" style="text-align: left;">6</td>
                                    <td tabindex="37" class="" style="text-align: left;">
                                        <img src="../demo/img/products/product6.png" alt="..." class="" title="image"></td>
                                    <td tabindex="38" class="" style="text-align: left;"><a href="#">Flat sandals</a></td>
                                    <td tabindex="39" class="" style="text-align: left;">Trainers In White</td>
                                    <td tabindex="40" class="" style="text-align: left;">55</td>
                                    <td tabindex="41" class="" style="text-align: left;">
                                        <div class="rating">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star pl-1" aria-hidden="true"></i>
                                            <i class="fa fa-star pl-1" aria-hidden="true"></i>
                                            <i class="fa fa-star pl-1" aria-hidden="true"></i>
                                            <i class="fa fa-star-half pl-1" aria-hidden="true"></i>
                                            <span class="pl-2">(4.6)</span>
                                        </div>
                                    </td>
                                    <td tabindex="42" class="" style="text-align: left;">
                                        <div role="toolbar" class="d-flex flex-column btn-toolbar">
                                            <button type="button" class="btn btn-info btn-xs" style="background-color: transparent; color: rgb(159, 219, 233); display: block;">
                                                <span class="d-none d-md-inline-block">Edit</span>
                                                <span class="d-md-none">
                                                    <i class="la la-edit"></i>
                                                </span>
                                            </button>
                                            <button id="popoverDelete_6" class="btn btn-danger btn-xs" style="background-color: transparent; color: rgb(255, 119, 105);">
                                                <span>
                                                    <span class="d-none d-md-inline-block">Delete</span>
                                                    <span class="d-md-none"><i class="la la-remove"></i></span>
                                                </span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="">
                                    <td tabindex="43" class="width-50" style="text-align: left;">7</td>
                                    <td tabindex="44" class="" style="text-align: left;">
                                        <img src="../demo/img/products/product7.png" alt="..." class="" title="image"></td>
                                    <td tabindex="45" class="" style="text-align: left;">
                                        <a href="#">Trainers</a></td>
                                    <td tabindex="46" class="" style="text-align: left;">Trainers In White</td>
                                    <td tabindex="47" class="" style="text-align: left;">76</td>
                                    <td tabindex="48" class="" style="text-align: left;">
                                        <div class="rating">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star pl-1" aria-hidden="true"></i>
                                            <i class="fa fa-star pl-1" aria-hidden="true"></i>
                                            <i class="fa fa-star pl-1" aria-hidden="true"></i>
                                            <i class="fa fa-star-half pl-1" aria-hidden="true"></i>
                                            <span class="pl-2">(4.6)</span>
                                        </div>
                                    </td>
                                    <td tabindex="49" class="" style="text-align: left;">
                                        <div role="toolbar" class="d-flex flex-column btn-toolbar">
                                            <button type="button" class="btn btn-info btn-xs" style="background-color: transparent; color: rgb(159, 219, 233); display: block;">
                                                <span class="d-none d-md-inline-block">Edit</span>
                                                <span class="d-md-none">
                                                    <i class="la la-edit"></i>
                                                </span>
                                            </button>
                                            <button id="popoverDelete_7" class="btn btn-danger btn-xs" style="background-color: transparent; color: rgb(255, 119, 105);">
                                                <span>
                                                    <span class="d-none d-md-inline-block">Delete</span>
                                                    <span class="d-md-none"><i class="la la-remove"></i></span></span></button></div></td></tr><tr class=""><td tabindex="50" class="width-50" style="text-align: left;">8</td><td tabindex="51" class="" style="text-align: left;"><img src="../demo/img/products/product8.png" alt="..." class="Management_image__1zWAB" title="image"></td><td tabindex="52" class="" style="text-align: left;"><a href="#/app/ecommerce/product/8">Boots</a></td><td tabindex="53" class="" style="text-align: left;">Trainers In Blue</td><td tabindex="54" class="" style="text-align: left;">45</td><td tabindex="55" class="" style="text-align: left;"><div class="Rating_rating__giW3V rating"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star pl-1" aria-hidden="true"></i><i class="fa fa-star pl-1" aria-hidden="true"></i><i class="fa fa-star pl-1" aria-hidden="true"></i><i class="fa fa-star-half pl-1" aria-hidden="true"></i><span class="pl-2">(4.6)</span></div></td><td tabindex="56" class="" style="text-align: left;"><div role="toolbar" class="d-flex flex-column btn-toolbar"><button type="button" class="btn btn-info btn-xs" style="background-color: transparent; color: rgb(159, 219, 233); display: block;"><span class="d-none d-md-inline-block">Edit</span><span class="d-md-none"><i class="la la-edit"></i></span></button><button id="popoverDelete_8" class="btn btn-danger btn-xs" style="background-color: transparent; color: rgb(255, 119, 105);"><span><span class="d-none d-md-inline-block">Delete</span><span class="d-md-none"><i class="la la-remove"></i></span></span></button></div></td></tr><tr class=""><td tabindex="57" class="width-50" style="text-align: left;">9</td><td tabindex="58" class="" style="text-align: left;"><img src="../demo/img/products/product9.png" alt="..." class="Management_image__1zWAB" title="image"></td><td tabindex="59" class="" style="text-align: left;"><a href="#/app/ecommerce/product/9">Flat sandals</a></td><td tabindex="60" class="" style="text-align: left;">Trainers In White</td><td tabindex="61" class="" style="text-align: left;">55</td><td tabindex="62" class="" style="text-align: left;"><div class="Rating_rating__giW3V rating"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star pl-1" aria-hidden="true"></i><i class="fa fa-star pl-1" aria-hidden="true"></i><i class="fa fa-star pl-1" aria-hidden="true"></i><i class="fa fa-star-half pl-1" aria-hidden="true"></i><span class="pl-2">(4.6)</span></div></td><td tabindex="63" class="" style="text-align: left;"><div role="toolbar" class="d-flex flex-column btn-toolbar"><button type="button" class="btn btn-info btn-xs" style="background-color: transparent; color: rgb(159, 219, 233); display: block;"><span class="d-none d-md-inline-block">Edit</span><span class="d-md-none"><i class="la la-edit"></i></span></button><button id="popoverDelete_9" class="btn btn-danger btn-xs" style="background-color: transparent; color: rgb(255, 119, 105);"><span><span class="d-none d-md-inline-block">Delete</span><span class="d-md-none"><i class="la la-remove"></i></span></span></button></div></td></tr><tr class=""><td tabindex="64" class="width-50" style="text-align: left;">10</td><td tabindex="65" class="" style="text-align: left;"><img src="../demo/img/products/product10.png" alt="..." class="Management_image__1zWAB" title="image"></td><td tabindex="66" class="" style="text-align: left;"><a href="#/app/ecommerce/product/10">Trainers</a></td><td tabindex="67" class="" style="text-align: left;">Trainers In White</td><td tabindex="68" class="" style="text-align: left;">76</td><td tabindex="69" class="" style="text-align: left;"><div class="Rating_rating__giW3V rating"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star pl-1" aria-hidden="true"></i><i class="fa fa-star pl-1" aria-hidden="true"></i><i class="fa fa-star pl-1" aria-hidden="true"></i><i class="fa fa-star-half pl-1" aria-hidden="true"></i><span class="pl-2">(4.6)</span></div></td><td tabindex="70" class="" style="text-align: left;"><div role="toolbar" class="d-flex flex-column btn-toolbar"><button type="button" class="btn btn-info btn-xs" style="background-color: transparent; color: rgb(159, 219, 233); display: block;"><span class="d-none d-md-inline-block">Edit</span><span class="d-md-none"><i class="la la-edit"></i></span></button><button id="popoverDelete_10" class="btn btn-danger btn-xs" style="background-color: transparent; color: rgb(255, 119, 105);"><span><span class="d-none d-md-inline-block">Delete</span><span class="d-md-none"><i class="la la-remove"></i></span></span></button></div></td></tr></tbody></table></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{/content}}
{{#content "scripts"}}
<div class="product-filter-modal">
        <div class="filter-modal-title">
            <button class="close">
                <img id="close_modal" class="hide" src="./../demo/img/cancel.svg" alt="close" />
                <img id="back_modal" class="hide" src="./../demo/img/back.svg" alt="back" />
            </button>
            <h5 class="mb-0"></h5>
        </div>
        <ul id="sort-filters-list" class="filter-modal-body">
            <li class="option">
            <span class="filter-check">
                <img src='./../demo/img/check.svg' alt="check" />
            </span>
                <span class="name">Favourite</span>
            </li>
            <li class="option">
            <span class="filter-check">
                <img src='./../demo/img/check.svg' alt="check" />
            </span>
                <span class="name">Price</span>
            </li>
            <li class="option">
            <span class="filter-check">
                <img src='./../demo/img/check.svg' alt="check" />
            </span>
                <span class="name">Popular</span>
            </li>
        </ul>
        <ul id="type-filters-list" class="filter-modal-body">
            <li>Type</li>
            <li>Brands</li>
            <li>Size</li>
            <li>Color</li>
            <li>Range</li>
        </ul>
        <ul id="type-subfilters-list" class="filter-modal-body">
        </ul>
    </div>
<script src="../../node_modules/slick-carousel/slick/slick.min.js"></script>
<script src="../../node_modules/bootstrap-slider/dist/bootstrap-slider.min.js"></script>
<!-- page specific js -->
<script src="../js/e-commerce/product-grid.js"></script>
{{/content}}
{{/extend}}
