{{#extend "layout" title="Flatlogic One Bootstrap - Product Management"}}
{{#content "sidebar"}}
{{> sidebar active="product_management"}}
{{/content}}
{{#content "content" mode="replace"}}
<div class="product-grid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">E-commerce</li>
        <li class="breadcrumb-item active">Management</li>
    </ol>
    <div class="row">
        <div class="product-elements col-12" id="product-grid">

            <div class="widget">
                <div class="widget-body">
                    <table class="table table-borderless table-responsive-xl mb-0">
                        <tbody>
                        <tr>
                            <td>
                                <img src="../demo/img/products/product4.png" alt="..."></td>
                            <td>
                                <h3 class="card-title text-center">2020 Mercedes A Class</h3>
                            </td>
                            <td class="text-center">
                                <div class="rating">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star pl-1" aria-hidden="true"></i>
                                    <i class="fa fa-star pl-1" aria-hidden="true"></i>
                                    <i class="fa fa-star pl-1" aria-hidden="true"></i>
                                    <i class="fa fa-star pl-1 pr-1" aria-hidden="true"></i>
                                    <p class="text-center mb-0"> (5.0)</p>
                                </div>
                                <a href="#" class="text-center">53 Reviews</a>
                            </td>
                            <td>
                                <p class="info text-center mt-0">COMBINED MPG:</p>
                                <p class="fs-larger text-center">22</p>
                            </td>
                            <td>
                                <p class="info text-center mt-0">STARTING MSRP</p>
                                <p class="h3 text-center">$42,380</p>
                            </td>
                            <td>
                                <div role="toolbar" class="d-flex flex-column btn-toolbar">
                                    <button type="button" class="btn btn-info btn-block mx-0 mb-2">
                                        <span class="d-none d-md-inline-block">Edit</span>
                                        <span class="d-md-none"><i class="la la-edit"></i></span>
                                    </button>
                                    <button class="btn btn-danger btn-block mx-0 my-0">
                                        <span>
                                            <span class="d-none d-md-inline-block">Delete</span>
                                            <span class="d-md-none"><i class="la la-remove"></i>
                                            </span>
                                        </span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="widget">
                <div class="widget-body">
                    <table class="table table-borderless table-responsive-xl mb-0">
                        <tbody>
                        <tr>
                            <td>
                                <img src="../demo/img/products/product3.png" alt="..."></td>
                            <td>
                                <h3 class="card-title text-center">2019 Mercedes ML</h3>
                            </td>
                            <td class="text-center">
                                <div class="rating">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star pl-1" aria-hidden="true"></i>
                                    <i class="fa fa-star pl-1" aria-hidden="true"></i>
                                    <i class="fa fa-star pl-1" aria-hidden="true"></i>
                                    <i class="fa fa-star pl-1 pr-1" aria-hidden="true"></i>
                                    <p class="text-center mb-0"> (5.0)</p>
                                </div>
                                <a href="#" class="text-center">53 Reviews</a>
                            </td>
                            <td>
                                <p class="info text-center mt-0">COMBINED MPG:</p>
                                <p class="fs-larger text-center">22</p>
                            </td>
                            <td>
                                <p class="info text-center mt-0">STARTING MSRP</p>
                                <p class="h3 text-center">$42,380</p>
                            </td>
                            <td>
                                <div role="toolbar" class="d-flex flex-column btn-toolbar">
                                    <button type="button" class="btn btn-info btn-block mx-0 mb-2">
                                        <span class="d-none d-md-inline-block">Edit</span>
                                        <span class="d-md-none"><i class="la la-edit"></i></span>
                                    </button>
                                    <button class="btn btn-danger btn-block mx-0 my-0">
                                        <span>
                                            <span class="d-none d-md-inline-block">Delete</span>
                                            <span class="d-md-none"><i class="la la-remove"></i>
                                            </span>
                                        </span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="widget">
                <div class="widget-body">
                    <table class="table table-borderless table-responsive-xl mb-0">
                        <tbody>
                        <tr>
                            <td>
                                <img src="../demo/img/products/product1.png" alt="..."></td>
                            <td>
                                <h3 class="card-title text-center">2020 Porsche 911</h3>
                            </td>
                            <td class="text-center">
                                <div class="rating">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star pl-1" aria-hidden="true"></i>
                                    <i class="fa fa-star pl-1" aria-hidden="true"></i>
                                    <i class="fa fa-star pl-1" aria-hidden="true"></i>
                                    <i class="fa fa-star pl-1 pr-1" aria-hidden="true"></i>
                                    <p class="text-center mb-0"> (5.0)</p>
                                </div>
                                <a href="#" class="text-center">53 Reviews</a>
                            </td>
                            <td>
                                <p class="info text-center mt-0">COMBINED MPG:</p>
                                <p class="fs-larger text-center">20</p>
                            </td>
                            <td>
                                <p class="info text-center mt-0">STARTING MSRP</p>
                                <p class="h3 text-center">$52,000</p>
                            </td>
                            <td>
                                <div role="toolbar" class="d-flex flex-column btn-toolbar">
                                    <button type="button" class="btn btn-info btn-block mx-0 mb-2">
                                        <span class="d-none d-md-inline-block">Edit</span>
                                        <span class="d-md-none"><i class="la la-edit"></i></span>
                                    </button>
                                    <button class="btn btn-danger btn-block mx-0 my-0">
                                        <span>
                                            <span class="d-none d-md-inline-block">Delete</span>
                                            <span class="d-md-none"><i class="la la-remove"></i>
                                            </span>
                                        </span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="widget">
                <div class="widget-body">
                    <table class="table table-borderless table-responsive-xl mb-0">
                        <tbody>
                        <tr>
                            <td>
                                <img src="../demo/img/products/product2.png" alt="..."></td>
                            <td>
                                <h3 class="card-title text-center">2020 Porsche 911</h3>
                            </td>
                            <td class="text-center">
                                <div class="rating">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star pl-1" aria-hidden="true"></i>
                                    <i class="fa fa-star pl-1" aria-hidden="true"></i>
                                    <i class="fa fa-star pl-1" aria-hidden="true"></i>
                                    <i class="fa fa-star pl-1 pr-1" aria-hidden="true"></i>
                                    <p class="text-center mb-0"> (5.0)</p>
                                </div>
                                <a href="#" class="text-center">53 Reviews</a>
                            </td>
                            <td>
                                <p class="info text-center mt-0">COMBINED MPG:</p>
                                <p class="fs-larger text-center">20</p>
                            </td>
                            <td>
                                <p class="info text-center mt-0">STARTING MSRP</p>
                                <p class="h3 text-center">$52,000</p>
                            </td>
                            <td>
                                <div role="toolbar" class="d-flex flex-column btn-toolbar">
                                    <button type="button" class="btn btn-info btn-block mx-0 mb-2">
                                        <span class="d-none d-md-inline-block">Edit</span>
                                        <span class="d-md-none"><i class="la la-edit"></i></span>
                                    </button>
                                    <button class="btn btn-danger btn-block mx-0 my-0">
                                        <span>
                                            <span class="d-none d-md-inline-block">Delete</span>
                                            <span class="d-md-none"><i class="la la-remove"></i>
                                            </span>
                                        </span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="widget">
                <div class="widget-body">
                    <table class="table table-borderless table-responsive-xl mb-0">
                        <tbody>
                        <tr>
                            <td>
                                <img src="../demo/img/products/product8.png" alt="..."></td>
                            <td>
                                <h3 class="card-title text-center">2019 Audi A3</h3>
                            </td>
                            <td class="text-center">
                                <div class="rating">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star pl-1" aria-hidden="true"></i>
                                    <i class="fa fa-star pl-1" aria-hidden="true"></i>
                                    <i class="fa fa-star pl-1" aria-hidden="true"></i>
                                    <i class="fa fa-star pl-1 pr-1" aria-hidden="true"></i>
                                    <p class="text-center mb-0"> (5.0)</p>
                                </div>
                                <a href="#" class="text-center">53 Reviews</a>
                            </td>
                            <td>
                                <p class="info text-center mt-0">COMBINED MPG:</p>
                                <p class="fs-larger text-center">20</p>
                            </td>
                            <td>
                                <p class="info text-center mt-0">STARTING MSRP</p>
                                <p class="h3 text-center">$30,300</p>
                            </td>
                            <td>
                                <div role="toolbar" class="d-flex flex-column btn-toolbar">
                                    <button type="button" class="btn btn-info btn-block mx-0 mb-2">
                                        <span class="d-none d-md-inline-block">Edit</span>
                                        <span class="d-md-none"><i class="la la-edit"></i></span>
                                    </button>
                                    <button class="btn btn-danger btn-block mx-0 my-0">
                                        <span>
                                            <span class="d-none d-md-inline-block">Delete</span>
                                            <span class="d-md-none"><i class="la la-remove"></i>
                                            </span>
                                        </span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="widget">
                <div class="widget-body">
                    <table class="table table-borderless table-responsive-xl mb-0">
                        <tbody>
                        <tr>
                            <td>
                                <img src="../demo/img/products/product7.png" alt="..."></td>
                            <td>
                                <h3 class="card-title text-center">2020 Audi TT</h3>
                            </td>
                            <td class="text-center">
                                <div class="rating">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star pl-1" aria-hidden="true"></i>
                                    <i class="fa fa-star pl-1" aria-hidden="true"></i>
                                    <i class="fa fa-star pl-1" aria-hidden="true"></i>
                                    <i class="fa fa-star pl-1 pr-1" aria-hidden="true"></i>
                                    <p class="text-center mb-0"> (5.0)</p>
                                </div>
                                <a href="#" class="text-center">53 Reviews</a>
                            </td>
                            <td>
                                <p class="info text-center mt-0">COMBINED MPG:</p>
                                <p class="fs-larger text-center">20</p>
                            </td>
                            <td>
                                <p class="info text-center mt-0">STARTING MSRP</p>
                                <p class="h3 text-center">$42,380</p>
                            </td>
                            <td>
                                <div role="toolbar" class="d-flex flex-column btn-toolbar">
                                    <button type="button" class="btn btn-info btn-block mx-0 mb-2">
                                        <span class="d-none d-md-inline-block">Edit</span>
                                        <span class="d-md-none"><i class="la la-edit"></i></span>
                                    </button>
                                    <button class="btn btn-danger btn-block mx-0 my-0">
                                        <span>
                                            <span class="d-none d-md-inline-block">Delete</span>
                                            <span class="d-md-none"><i class="la la-remove"></i>
                                            </span>
                                        </span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{{/content}}
{{#content "scripts"}}
<script src="../../node_modules/slick-carousel/slick/slick.min.js"></script>
<script src="../../node_modules/bootstrap-slider/dist/bootstrap-slider.min.js"></script>
<!-- page specific js -->
<script src="../js/e-commerce/product-grid.js"></script>
{{/content}}
{{/extend}}
