{{#extend "layout" title="Flatlogic One Bootstrap - Product Grid"}}
{{#content "sidebar"}}
{{> sidebar active="product_grid"}}
{{/content}}
{{#content "content" mode="replace"}}
<div class="product-grid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">E-commerce</li>
        <li class="breadcrumb-item active">Product Grid</li>
    </ol>
    <div class="row wrapper">
        <div class="product-elements d-none d-block d-sm-none col-12">
            <div class="widget p-3">
                <div class="widget-body">
                    <div class="mobile-search">
                        <img src="../img/icons/filter.svg" id="mobile-filter" class="mx-3" alt="">
                        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                        <img src="../img/icons/search.png" class="mx-3" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="product-elements d-none d-sm-block col-xl-2 col-lg-4 col-sm-4" id="filter">
            <div class="widget overflow-hidden">
                <div class="widget-header">
                    <h5 class="fw-bold">Filters</h5>
                </div>
                <div class="widget-body">
                    <h5 class="fw-semi-bold my-4">Body Style</h5>
                    <div class="form-check abc-checkbox abc-checkbox-warning mb-3">
                        <input class="form-check-input" id="checkbox1" type="checkbox" checked>
                        <label class="form-check-label" for="checkbox1">
                            All
                        </label>
                    </div>
                    <div class="form-check abc-checkbox abc-checkbox-warning mb-3">
                        <input class="form-check-input" id="checkbox2" type="checkbox" >
                        <label class="form-check-label" for="checkbox2">
                            Sedan
                        </label>
                    </div>
                    <div class="form-check abc-checkbox abc-checkbox-warning mb-3">
                        <input class="form-check-input" id="checkbox3" type="checkbox" >
                        <label class="form-check-label" for="checkbox3">
                            Coupe
                        </label>
                    </div>
                    <div class="form-check abc-checkbox abc-checkbox-warning mb-3">
                        <input class="form-check-input" id="checkbox4" type="checkbox" >
                        <label class="form-check-label" for="checkbox4">
                            Sports Car
                        </label>
                    </div>
                    <div class="form-check abc-checkbox abc-checkbox-warning mb-2">
                        <input class="form-check-input" id="checkbox5" type="checkbox" >
                        <label class="form-check-label" for="checkbox5">
                            Hatchback
                        </label>
                    </div>
                    <div class="text-right fs-mini text-muted pt-2">View more ></div>
                    <div class="dropdown-divider my-4"></div>

                    <h5 class="fw-semi-bold my-4">Price</h5>
                    <form>
                        <span class="slider-warning">
                            <input class="js-slider" id="slider-ex11" data-slider-id='ex11Slider' type="text"
                                   data-slider-min="10000" data-slider-max="100000" data-slider-step="10000"
                                   data-slider-value="[20000,70000]" />
                        </span>
                    </form>
                    <div class="dropdown-divider my-4"></div>
                    <h5 class="fw-semi-bold my-4">Brand</h5>
                    <div class="form-check abc-checkbox abc-checkbox-warning mb-3">
                        <input class="form-check-input" id="checkbox6" type="checkbox" checked>
                        <label class="form-check-label" for="checkbox6">
                            All
                        </label>
                    </div>
                    <div class="form-check abc-checkbox abc-checkbox-warning mb-3">
                        <input class="form-check-input" id="checkbox7" type="checkbox" >
                        <label class="form-check-label" for="checkbox7">
                            Tesla
                        </label>
                    </div>
                    <div class="form-check abc-checkbox abc-checkbox-warning mb-3">
                        <input class="form-check-input" id="checkbox8" type="checkbox" >
                        <label class="form-check-label" for="checkbox8">
                            BMW
                        </label>
                    </div>
                    <div class="form-check abc-checkbox abc-checkbox-warning mb-3">
                        <input class="form-check-input" id="checkbox9" type="checkbox" >
                        <label class="form-check-label" for="checkbox9">
                            Ferrari
                        </label>
                    </div>
                    <div class="form-check abc-checkbox abc-checkbox-warning mb-2">
                        <input class="form-check-input" id="checkbox10" type="checkbox" >
                        <label class="form-check-label" for="checkbox10">
                            Ford
                        </label>
                    </div>
                    <div class="text-right fs-mini text-muted pt-2">View more ></div>
                    <div class="dropdown-divider my-4"></div>

                    <h5 class="fw-semi-bold my-4">Colour</h5>
                    <div class="form-check abc-checkbox abc-checkbox-warning mb-3">
                        <input class="form-check-input" id="checkbox11" type="checkbox" checked>
                        <label class="form-check-label" for="checkbox11">
                            All
                        </label>
                    </div>
                    <div class="form-check abc-checkbox abc-checkbox-warning mb-3">
                        <input class="form-check-input" id="checkbox12" type="checkbox" >
                        <label class="form-check-label" for="checkbox12">
                            Black
                        </label>
                    </div>
                    <div class="form-check abc-checkbox abc-checkbox-warning mb-3">
                        <input class="form-check-input" id="checkbox13" type="checkbox" >
                        <label class="form-check-label" for="checkbox13">
                            White
                        </label>
                    </div>
                    <div class="form-check abc-checkbox abc-checkbox-warning mb-3">
                        <input class="form-check-input" id="checkbox14" type="checkbox" >
                        <label class="form-check-label" for="checkbox14">
                            Red
                        </label>
                    </div>
                    <div class="form-check abc-checkbox abc-checkbox-warning mb-2">
                        <input class="form-check-input" id="checkbox15" type="checkbox" >
                        <label class="form-check-label" for="checkbox15">
                            Blue
                        </label>
                    </div>
                    <div class="text-right fs-mini text-muted pt-2">View more ></div>
                    <div class="dropdown-divider my-4"></div>

                    <h5 class="fw-semi-bold my-4">Year</h5>
                    <div class="form-check abc-checkbox abc-checkbox-warning mb-3">
                        <input class="form-check-input" id="checkbox21" type="checkbox" checked>
                        <label class="form-check-label" for="checkbox21">
                            All
                        </label>
                    </div>
                    <div class="form-check abc-checkbox abc-checkbox-warning mb-3">
                        <input class="form-check-input" id="checkbox22" type="checkbox" >
                        <label class="form-check-label" for="checkbox22">
                            2020
                        </label>
                    </div>
                    <div class="form-check abc-checkbox abc-checkbox-warning mb-3">
                        <input class="form-check-input" id="checkbox23" type="checkbox" >
                        <label class="form-check-label" for="checkbox23">
                            2019
                        </label>
                    </div>
                    <div class="form-check abc-checkbox abc-checkbox-warning mb-3">
                        <input class="form-check-input" id="checkbox24" type="checkbox" >
                        <label class="form-check-label" for="checkbox24">
                            2018
                        </label>
                    </div>
                    <div class="form-check abc-checkbox abc-checkbox-warning mb-2">
                        <input class="form-check-input" id="checkbox25" type="checkbox" >
                        <label class="form-check-label" for="checkbox25">
                            2017
                        </label>
                    </div>
                    <div class="text-right fs-mini text-muted pt-2">View more ></div>
                    <div class="dropdown-divider my-4"></div>

                    <h5 class="fw-semi-bold my-4">Rating</h5>
                    <div class="form-check abc-checkbox abc-checkbox-warning mb-3">
                        <input class="form-check-input" id="checkbox16" type="checkbox" >
                        <label class="form-check-label" for="checkbox16">
                            <i class="fa fa-star text-black" aria-hidden="true"></i>
                            <i class="fa fa-star text-black" aria-hidden="true"></i>
                            <i class="fa fa-star text-black" aria-hidden="true"></i>
                            <i class="fa fa-star text-black" aria-hidden="true"></i>
                            <i class="fa fa-star text-black" aria-hidden="true"></i>
                        </label>
                    </div>
                    <div class="form-check abc-checkbox abc-checkbox-warning mb-3">
                        <input class="form-check-input" id="checkbox17" type="checkbox" checked>
                        <label class="form-check-label" for="checkbox17">
                            <i class="fa fa-star text-black" aria-hidden="true"></i>
                            <i class="fa fa-star text-black" aria-hidden="true"></i>
                            <i class="fa fa-star text-black" aria-hidden="true"></i>
                            <i class="fa fa-star text-black" aria-hidden="true"></i>
                            <i class="fa fa-star text-black-50" aria-hidden="true"></i>
                        </label>
                    </div>
                    <div class="form-check abc-checkbox abc-checkbox-warning mb-3">
                        <input class="form-check-input" id="checkbox18" type="checkbox" >
                        <label class="form-check-label" for="checkbox18">
                            <i class="fa fa-star text-black" aria-hidden="true"></i>
                            <i class="fa fa-star text-black" aria-hidden="true"></i>
                            <i class="fa fa-star text-black" aria-hidden="true"></i>
                            <i class="fa fa-star text-black-50" aria-hidden="true"></i>
                            <i class="fa fa-star text-black-50" aria-hidden="true"></i>
                        </label>
                    </div>
                    <div class="form-check abc-checkbox abc-checkbox-warning mb-3">
                        <input class="form-check-input" id="checkbox19" type="checkbox" >
                        <label class="form-check-label" for="checkbox19">
                            <i class="fa fa-star text-black" aria-hidden="true"></i>
                            <i class="fa fa-star text-black" aria-hidden="true"></i>
                            <i class="fa fa-star text-black-50" aria-hidden="true"></i>
                            <i class="fa fa-star text-black-50" aria-hidden="true"></i>
                            <i class="fa fa-star text-black-50" aria-hidden="true"></i>
                        </label>
                    </div>
                    <div class="form-check abc-checkbox abc-checkbox-warning mb-2">
                        <input class="form-check-input" id="checkbox20" type="checkbox" >
                        <label class="form-check-label" for="checkbox20">
                            <i class="fa fa-star text-black" aria-hidden="true"></i>
                            <i class="fa fa-star text-black-50" aria-hidden="true"></i>
                            <i class="fa fa-star text-black-50" aria-hidden="true"></i>
                            <i class="fa fa-star text-black-50" aria-hidden="true"></i>
                            <i class="fa fa-star text-black-50" aria-hidden="true"></i>
                        </label>
                    </div>
                    <button class="btn btn-outline-danger btn-block mt-4">REMOVE FILTERS</button>
                </div>
            </div>
        </div>
        <div class="product-elements col-lg-8 col-xl-10 col-sm-8" id="product-grid">
            <div class="widget d-none d-sm-block col-sm-12">
                <div class="widget-body">
                    <div class="row">
                        <div class="col-lg-4 col-md-10"><div class="input-group input-group-lg pl-0">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-transparent"><i class="fa fa-search text-black-50" aria-hidden="true"></i></span>
                            </div>
                            <input class="form-control my-0 py-1" type="text" placeholder="Search" aria-label="Search">
                        </div></div>
                        <div class="col-lg-8  d-none d-lg-block">
                            <img src="../img/icons/list.svg" style="height: 38px" class="float-right" alt="">
                            <img src="../img/icons/grid.svg" style="height: 38px" class="float-right mr-2" alt="">
                    </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-xl-3 col-md-6 col-sm-12">
                    <div class="widget">
                        <div class="widget-body">
                            <div class="product-element product-card">
                                <div class="card-photo" style="background-image: url(../demo/img/products/product1.png)">
                                </div>
                                <h3 class="card-title">Porsche 911</h3>
                                <div class="rating d-flex justify-content-start">
                                    <div class="mr-3">
                                        <i class="fa fa-star text-black" aria-hidden="true"></i>
                                        4.0
                                    </div>
                                    <a href="#">53 Reviews</a>
                                </div>
                                <div class="info">
                                    STARTING MSRP
                                </div>
                                <div class="price">
                                    $36,000
                                </div>
                                <button class="btn btn-success btn-block text-uppercase"><i class="la la-shopping-cart fs-xlg"></i> Add to card</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-3 col-md-6 col-sm-12">
                    <div class="widget">
                        <div class="widget-body">
                            <div class="product-element product-card">
                                <div class="card-photo" style="background-image: url(../demo/img/products/product2.png)">
                                    <div class="badge bg-danger rounded-left">Sale</div>
                                </div>
                                <h3 class="card-title">Porsche 911</h3>
                                <div class="rating d-flex justify-content-start">
                                    <div class="mr-3">
                                        <i class="fa fa-star text-black" aria-hidden="true"></i>
                                        4.0
                                    </div>
                                    <a href="#">53 Reviews</a>
                                </div>
                                <div class="info">
                                    STARTING MSRP
                                </div>
                                <div class="price">
                                    $52,000
                                </div>
                                <button class="btn btn-success btn-block text-uppercase"><i class="la la-shopping-cart fs-xlg"></i> Add to card</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-3 col-md-6 col-sm-12">
                    <div class="widget">
                        <div class="widget-body">
                            <div class="product-element product-card">
                                <div class="card-photo" style="background-image: url(../demo/img/products/product3.png)">
                                    <div class="badge bg-black rounded-left">New</div>
                                </div>
                                <h3 class="card-title">Mercedes ML</h3>
                                <div class="rating fs-mini d-flex justify-content-start">
                                    <div class="mr-3">
                                        <i class="fa fa-star text-black" aria-hidden="true"></i>
                                        4.0
                                    </div>
                                    <a href="#">53 Reviews</a>
                                </div>
                                <div class="info">
                                    STARTING MSRP
                                </div>
                                <div class="price">
                                    $42,380
                                </div>
                                <button class="btn btn-success btn-block text-uppercase"><i class="la la-shopping-cart fs-xlg"></i> Add to card</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-3 col-md-6 col-sm-12">
                    <div class="widget">
                        <div class="widget-body">
                            <div class="product-element product-card">
                                <div class="card-photo" style="background-image: url(../demo/img/products/product4.png)">
                                    <div class="badge bg-danger rounded-left">Sale</div>
                                </div>
                                <h3 class="card-title">Mercedes A Class</h3>
                                <div class="rating d-flex justify-content-start">
                                    <div class="mr-3">
                                        <i class="fa fa-star text-black" aria-hidden="true"></i>
                                        4.0
                                    </div>
                                    <a href="#">53 Reviews</a>
                                </div>
                                <div class="info">
                                    STARTING MSRP
                                </div>
                                <div class="price">
                                    $30,520
                                </div>
                                <button class="btn btn-success btn-block text-uppercase"><i class="la la-shopping-cart fs-xlg"></i> Add to card</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-3 col-md-6 col-sm-12">
                    <div class="widget">
                        <div class="widget-body">
                            <div class="product-element product-card">
                                <div class="card-photo" style="background-image: url(../demo/img/products/product5.png)">
                                </div>
                                <h3 class="card-title">Jeep Gran Cherokee</h3>
                                <div class="rating fs-mini d-flex justify-content-start">
                                    <div class="mr-3">
                                        <i class="fa fa-star text-black" aria-hidden="true"></i>
                                        4.0
                                    </div>
                                    <a href="#">53 Reviews</a>
                                </div>
                                <div class="info">
                                    STARTING MSRP
                                </div>
                                <div class="price">
                                    $52,000
                                </div>
                                <button class="btn btn-success btn-block text-uppercase"><i class="la la-shopping-cart fs-xlg"></i> Add to card</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-3 col-md-6 col-sm-12">
                    <div class="widget">
                        <div class="widget-body">
                            <div class="product-element product-card">
                                <div class="card-photo" style="background-image: url(../demo/img/products/product6.png)">
                                    <div class="badge bg-danger rounded-left">Sale</div>
                                </div>
                                <h3 class="card-title">Mercedes SLS</h3>
                                <div class="rating d-flex justify-content-start">
                                    <div class="mr-3">
                                        <i class="fa fa-star text-black" aria-hidden="true"></i>
                                        4.0
                                    </div>
                                    <a href="#">53 Reviews</a>
                                </div>
                                <div class="info">
                                    STARTING MSRP
                                </div>
                                <div class="price">
                                    $30,520
                                </div>
                                <button class="btn btn-success btn-block text-uppercase"><i class="la la-shopping-cart fs-xlg"></i> Add to card</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-3 col-md-6 col-sm-12">
                    <div class="widget">
                        <div class="widget-body">
                            <div class="product-element product-card">
                                <div class="card-photo" style="background-image: url(../demo/img/products/product7.png)">
                                    <div class="badge bg-danger rounded-left">Sale</div>
                                </div>
                                <h3 class="card-title">Audi TT</h3>
                                <div class="rating d-flex justify-content-start">
                                    <div class="mr-3">
                                        <i class="fa fa-star text-black" aria-hidden="true"></i>
                                        4.0
                                    </div>
                                    <a href="#">53 Reviews</a>
                                </div>
                                <div class="info">
                                    STARTING MSRP
                                </div>
                                <div class="price">
                                    $42,380
                                </div>
                                <button class="btn btn-success btn-block text-uppercase"><i class="la la-shopping-cart fs-xlg"></i> Add to card</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-3 col-md-6 col-sm-12">
                    <div class="widget">
                        <div class="widget-body">
                            <div class="product-element product-card">
                                <div class="card-photo" style="background-image: url(../demo/img/products/product8.png)">
                                </div>
                                <h3 class="card-title">Audi A3</h3>
                                <div class="rating d-flex justify-content-start">
                                    <div class="mr-3">
                                        <i class="fa fa-star text-black" aria-hidden="true"></i>
                                        4.0
                                    </div>
                                    <a href="#">53 Reviews</a>
                                </div>
                                <div class="info">
                                    STARTING MSRP
                                </div>
                                <div class="price">
                                    $30,300
                                </div>
                                <button class="btn btn-success btn-block text-uppercase"><i class="la la-shopping-cart fs-xlg"></i> Add to card</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-3 col-md-6 col-sm-12">
                    <div class="widget">
                        <div class="widget-body">
                            <div class="product-element product-card">
                                <div class="card-photo" style="background-image: url(../demo/img/products/product9.png)">
                                </div>
                                <h3 class="card-title">Toyota RAV 4</h3>
                                <div class="rating d-flex justify-content-start">
                                    <div class="mr-3">
                                        <i class="fa fa-star text-black" aria-hidden="true"></i>
                                        4.0
                                    </div>
                                    <a href="#">53 Reviews</a>
                                </div>
                                <div class="info">
                                    STARTING MSRP
                                </div>
                                <div class="price">
                                    $52,000
                                </div>
                                <button class="btn btn-success btn-block text-uppercase"><i class="la la-shopping-cart fs-xlg"></i> Add to card</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-3 col-md-6 col-sm-12">
                    <div class="widget">
                        <div class="widget-body">
                            <div class="product-element product-card">
                                <div class="card-photo" style="background-image: url(../demo/img/products/product10.png)">
                                    <div class="badge bg-danger rounded-left">Sale</div>
                                </div>
                                <h3 class="card-title">Maserati GranTurismo</h3>
                                <div class="rating d-flex justify-content-start">
                                    <div class="mr-3">
                                        <i class="fa fa-star text-black" aria-hidden="true"></i>
                                        4.0
                                    </div>
                                    <a href="#">53 Reviews</a>
                                </div>
                                <div class="info">
                                    STARTING MSRP
                                </div>
                                <div class="price">
                                    $30,520
                                </div>
                                <button class="btn btn-success btn-block text-uppercase"><i class="la la-shopping-cart fs-xlg"></i> Add to card</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-3 col-md-6 col-sm-12">
                    <div class="widget">
                        <div class="widget-body">
                            <div class="product-element product-card">
                                <div class="card-photo" style="background-image: url(../demo/img/products/product11.png)">
                                    <div class="badge bg-danger rounded-left">Sale</div>
                                </div>
                                <h3 class="card-title">BMW 3 Series</h3>
                                <div class="rating d-flex justify-content-start">
                                    <div class="mr-3">
                                        <i class="fa fa-star text-black" aria-hidden="true"></i>
                                        4.0
                                    </div>
                                    <a href="#">53 Reviews</a>
                                </div>
                                <div class="info">
                                    STARTING MSRP
                                </div>
                                <div class="price">
                                    $42,380
                                </div>
                                <button class="btn btn-success btn-block text-uppercase"><i class="la la-shopping-cart fs-xlg"></i> Add to card</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-3 col-md-6 col-sm-12">
                    <div class="widget">
                        <div class="widget-body">
                            <div class="product-element product-card">
                                <div class="card-photo" style="background-image: url(../demo/img/products/product12.png)">
                                </div>
                                <h3 class="card-title">Nissan 350z</h3>
                                <div class="rating d-flex justify-content-start">
                                    <div class="mr-3">
                                        <i class="fa fa-star text-black" aria-hidden="true"></i>
                                        4.0
                                    </div>
                                    <a href="#">53 Reviews</a>
                                </div>
                                <div class="info">
                                    STARTING MSRP
                                </div>
                                <div class="price">
                                    $30,300
                                </div>
                                <button class="btn btn-success btn-block text-uppercase"><i class="la la-shopping-cart fs-xlg"></i> Add to card</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{/content}}
{{#content "scripts"}}
<script src="../../node_modules/slick-carousel/slick/slick.min.js"></script>
<script src="../../node_modules/bootstrap-slider/dist/bootstrap-slider.min.js"></script>
<!-- page specific js -->
<script src="../js/e-commerce/product-grid.js"></script>
{{/content}}
{{/extend}}
