{{#extend "layout" title="Flatlogic One Bootstrap - Product Management"}}
{{#content "sidebar"}}
{{> sidebar active="product_management"}}
{{/content}}
{{#content "content" mode="replace"}}
<h1 class="page-title">App > E-Commerce  > <span class="fw-semi-bold">Management</span></h1>
<div class="product-grid">
    <div class="row d-none d-lg-block" >
        <div class="product-elements col-12" id="product-grid">
            <div class="widget">
                <div class="widget-body">
                    <table class="table table-borderless table-responsive-xl mb-0">
                        <tbody>
                        <tr>
                            <td>
                                <img src="../demo/img/products/product4.png" alt="..."></td>
                            <td>
                                <h3 class="card-title text-left">2020 Mercedes A Class</h3>
                            </td>
                            <td class="text-center">
                                <div class="rating">
                                    <i class="fa fa-star pr-2" aria-hidden="true"></i>
                                    <p class="text-center mb-0"> (5.0)</p>
                                </div>
                                <a href="#" class="text-center fw-semi-bold">53 Reviews</a>
                            </td>
                            <td class="d-none d-xl-table-cell">
                                <p class="info text-center mb-2">COMBINED MPG:</p>
                                <p class="fs-larger text-center">22</p>
                            </td>
                            <td>
                                <p class="info text-center mb-2">STARTING MSRP</p>
                                <p class="h3 text-center">$42,380</p>
                            </td>
                            <td>
                                <div role="toolbar" class="d-flex flex-column btn-toolbar">
                                    <button type="button" class="btn btn-info btn-block mx-0 mb-3">
                                        <span class=""><img src="../img/icons/create.svg" class="icons" alt=""></span>
                                        <span class="">EDIT</span>
                                    </button>
                                    <button class="btn btn-danger btn-block mx-0 my-0">
                                        <span><img src="../img/icons/delete.svg"  class="icons" alt=""></span>
                                        <span class="">DELETE</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="widget">
                <div class="widget-body">
                    <table class="table table-borderless table-responsive-xl mb-0">
                        <tbody>
                        <tr>
                            <td>
                                <img src="../demo/img/products/product3.png" alt="..."></td>
                            <td>
                                <h3 class="card-title text-left">2019 Mercedes ML</h3>
                            </td>
                            <td class="text-center">
                                <div class="rating">
                                    <i class="fa fa-star pr-2" aria-hidden="true"></i>
                                    <p class="text-center mb-0"> (5.0)</p>
                                </div>
                                <a href="#" class="text-center fw-semi-bold">53 Reviews</a>
                            </td>
                            <td class="d-none d-xl-table-cell">
                                <p class="info text-center mb-2">COMBINED MPG:</p>
                                <p class="fs-larger text-center">22</p>
                            </td>
                            <td>
                                <p class="info text-center mb-2">STARTING MSRP</p>
                                <p class="h3 text-center">$42,380</p>
                            </td>
                            <td>
                                <div role="toolbar" class="d-flex flex-column btn-toolbar">
                                    <button type="button" class="btn btn-info btn-block mx-0 mb-3">
                                        <span class=""><img src="../img/icons/create.svg" class="icons" alt=""></span>
                                        <span class="">EDIT</span>
                                    </button>
                                    <button class="btn btn-danger btn-block mx-0 my-0">
                                        <span><img src="../img/icons/delete.svg"  class="icons" alt=""></span>
                                        <span class="">DELETE</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="widget">
                <div class="widget-body">
                    <table class="table table-borderless table-responsive-xl mb-0">
                        <tbody>
                        <tr>
                            <td>
                                <img src="../demo/img/products/product1.png" alt="..."></td>
                            <td>
                                <h3 class="card-title text-left">2020 Porsche 911</h3>
                            </td>
                            <td class="text-center">
                                <div class="rating">
                                    <i class="fa fa-star pr-2" aria-hidden="true"></i>
                                    <p class="text-center mb-0"> (5.0)</p>
                                </div>
                                <a href="#" class="text-center fw-semi-bold">53 Reviews</a>
                            </td>
                            <td class="d-none d-xl-table-cell">
                                <p class="info text-center mb-2">COMBINED MPG:</p>
                                <p class="fs-larger text-center">20</p>
                            </td>
                            <td>
                                <p class="info text-center mb-2">STARTING MSRP</p>
                                <p class="h3 text-center">$52,000</p>
                            </td>
                            <td>
                                <div role="toolbar" class="d-flex flex-column btn-toolbar">
                                    <button type="button" class="btn btn-info btn-block mx-0 mb-3">
                                        <span class=""><img src="../img/icons/create.svg" class="icons" alt=""></span>
                                        <span class="">EDIT</span>
                                    </button>
                                    <button class="btn btn-danger btn-block mx-0 my-0">
                                        <span><img src="../img/icons/delete.svg"  class="icons" alt=""></span>
                                        <span class="">DELETE</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="widget">
                <div class="widget-body">
                    <table class="table table-borderless table-responsive-xl mb-0">
                        <tbody>
                        <tr>
                            <td>
                                <img src="../demo/img/products/product2.png" alt="..."></td>
                            <td>
                                <h3 class="card-title text-left">2020 Porsche 911</h3>
                            </td>
                            <td class="text-center">
                                <div class="rating">
                                    <i class="fa fa-star pr-2" aria-hidden="true"></i>
                                    <p class="text-center mb-0"> (5.0)</p>
                                </div>
                                <a href="#" class="text-center fw-semi-bold">53 Reviews</a>
                            </td>
                            <td class="d-none d-xl-table-cell">
                                <p class="info text-center mb-2">COMBINED MPG:</p>
                                <p class="fs-larger text-center">20</p>
                            </td>
                            <td>
                                <p class="info text-center mb-2">STARTING MSRP</p>
                                <p class="h3 text-center">$52,000</p>
                            </td>
                            <td>
                                <div role="toolbar" class="d-flex flex-column btn-toolbar">
                                    <button type="button" class="btn btn-info btn-block mx-0 mb-3">
                                        <span class=""><img src="../img/icons/create.svg" class="icons" alt=""></span>
                                        <span class="">EDIT</span>
                                    </button>
                                    <button class="btn btn-danger btn-block mx-0 my-0">
                                        <span><img src="../img/icons/delete.svg"  class="icons" alt=""></span>
                                        <span class="">DELETE</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="widget">
                <div class="widget-body">
                    <table class="table table-borderless table-responsive-xl mb-0">
                        <tbody>
                        <tr>
                            <td>
                                <img src="../demo/img/products/product8.png" alt="..."></td>
                            <td>
                                <h3 class="card-title text-left">2019 Audi A3</h3>
                            </td>
                            <td class="text-center">
                                <div class="rating">
                                    <i class="fa fa-star pr-2" aria-hidden="true"></i>
                                    <p class="text-center mb-0"> (5.0)</p>
                                </div>
                                <a href="#" class="text-center fw-semi-bold">53 Reviews</a>
                            </td>
                            <td class="d-none d-xl-table-cell">
                                <p class="info text-center mb-2">COMBINED MPG:</p>
                                <p class="fs-larger text-center">20</p>
                            </td>
                            <td>
                                <p class="info text-center mb-2">STARTING MSRP</p>
                                <p class="h3 text-center">$30,300</p>
                            </td>
                            <td>
                                <div role="toolbar" class="d-flex flex-column btn-toolbar">
                                    <button type="button" class="btn btn-info btn-block mx-0 mb-3">
                                        <span class=""><img src="../img/icons/create.svg" class="icons" alt=""></span>
                                        <span class="">EDIT</span>
                                    </button>
                                    <button class="btn btn-danger btn-block mx-0 my-0">
                                        <span><img src="../img/icons/delete.svg"  class="icons" alt=""></span>
                                        <span class="">DELETE</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="widget">
                <div class="widget-body">
                    <table class="table table-borderless table-responsive-xl mb-0">
                        <tbody>
                        <tr>
                            <td>
                                <img src="../demo/img/products/product7.png" alt="..."></td>
                            <td>
                                <h3 class="card-title text-left">2020 Audi TT</h3>
                            </td>
                            <td class="text-center">
                                <div class="rating">
                                    <i class="fa fa-star pr-2" aria-hidden="true"></i>
                                    <p class="text-center mb-0"> (5.0)</p>
                                </div>
                                <a href="#" class="text-center fw-semi-bold">53 Reviews</a>
                            </td>
                            <td class="d-none d-xl-table-cell">
                                <p class="info text-center mb-2">COMBINED MPG:</p>
                                <p class="fs-larger text-center">20</p>
                            </td>
                            <td>
                                <p class="info text-center mb-2">STARTING MSRP</p>
                                <p class="h3 text-center">$42,380</p>
                            </td>
                            <td>
                                <div role="toolbar" class="d-flex flex-column btn-toolbar">
                                    <button type="button" class="btn btn-info btn-block mx-0 mb-3">
                                        <span class=""><img src="../img/icons/create.svg" class="icons" alt=""></span>
                                        <span class="">EDIT</span>
                                    </button>
                                    <button class="btn btn-danger btn-block mx-0 my-0">
                                        <span><img src="../img/icons/delete.svg"  class="icons" alt=""></span>
                                        <span class="">DELETE</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-lg-none d-md-block">
        <div class="col-lg-6 col-xl-3 col-md-12">
            <div class="widget">
                <div class="widget-body">
                    <div class="product-element product-card">
                        <div class="card-photo" style="background-image: url(../demo/img/products/product4.png)">
                        </div>
                        <h3 class="card-title">2020 Mercedes A Class</h3>
                        <div class="rating d-flex justify-content-start">
                            <div class="mr-3">
                                <i class="fa fa-star text-black" aria-hidden="true"></i>
                                4.0
                            </div>
                            <a href="#" class="fw-semi-bold">53 Reviews</a>
                        </div>
                        <div class="info">
                            STARTING MSRP
                        </div>
                        <div class="price pb-3">
                            $42,000
                        </div>
                        <div role="toolbar" class="d-flex flex-column btn-toolbar">
                            <button type="button" class="btn btn-info btn-block mx-0 mb-3">
                                <span class=""><img src="../img/icons/create.svg" class="icons" alt=""></span>
                                <span class="">EDIT</span>
                            </button>
                            <button class="btn btn-danger btn-block mx-0 my-0">
                                <span><img src="../img/icons/delete.svg" class="icons" alt=""></span>
                                <span class="">DELETE</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3 col-md-12">
            <div class="widget">
                <div class="widget-body">
                    <div class="product-element product-card">
                        <div class="card-photo" style="background-image: url(../demo/img/products/product3.png)">
                            <div class="badge bg-danger rounded-left">Sale</div>
                        </div>
                        <h3 class="card-title">2019 Mercedes ML</h3>
                        <div class="rating d-flex justify-content-start">
                            <div class="mr-3">
                                <i class="fa fa-star text-black" aria-hidden="true"></i>
                                4.0
                            </div>
                            <a href="#" class="fw-semi-bold">53 Reviews</a>
                        </div>
                        <div class="info">
                            STARTING MSRP
                        </div>
                        <div class="price pb-3">
                            $42,380
                        </div>
                        <div role="toolbar" class="d-flex flex-column btn-toolbar">
                            <button type="button" class="btn btn-info btn-block mx-0 mb-3">
                                <span class=""><img src="../img/icons/create.svg" class="icons" alt=""></span>
                                <span class="">EDIT</span>
                            </button>
                            <button class="btn btn-danger btn-block mx-0 my-0">
                                <span><img src="../img/icons/delete.svg" class="icons" alt=""></span>
                                <span class="">DELETE</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3 col-md-12">
            <div class="widget">
                <div class="widget-body">
                    <div class="product-element product-card">
                        <div class="card-photo" style="background-image: url(../demo/img/products/product1.png)">
                        </div>
                        <h3 class="card-title">2020 Porsche 911</h3>
                        <div class="rating fs-mini d-flex justify-content-start">
                            <div class="mr-3">
                                <i class="fa fa-star text-black" aria-hidden="true"></i>
                                4.0
                            </div>
                            <a href="#" class="fw-semi-bold">53 Reviews</a>
                        </div>
                        <div class="info">
                            STARTING MSRP
                        </div>
                        <div class="price pb-3">
                            $52,000
                        </div>
                        <div role="toolbar" class="d-flex flex-column btn-toolbar">
                            <button type="button" class="btn btn-info btn-block mx-0 mb-3">
                                <span class=""><img src="../img/icons/create.svg" class="icons" alt=""></span>
                                <span class="">EDIT</span>
                            </button>
                            <button class="btn btn-danger btn-block mx-0 my-0">
                                <span><img src="../img/icons/delete.svg" class="icons" alt=""></span>
                                <span class="">DELETE</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3 col-md-12">
            <div class="widget">
                <div class="widget-body">
                    <div class="product-element product-card">
                        <div class="card-photo" style="background-image: url(../demo/img/products/product2.png)">
                            <div class="badge bg-danger rounded-left">Sale</div>
                        </div>
                        <h3 class="card-title">2020 Porsche 911</h3>
                        <div class="rating d-flex justify-content-start">
                            <div class="mr-3">
                                <i class="fa fa-star text-black" aria-hidden="true"></i>
                                4.0
                            </div>
                            <a href="#" class="fw-semi-bold">53 Reviews</a>
                        </div>
                        <div class="info">
                            STARTING MSRP
                        </div>
                        <div class="price pb-3">
                            $52,000
                        </div>
                        <div role="toolbar" class="d-flex flex-column btn-toolbar">
                            <button type="button" class="btn btn-info btn-block mx-0 mb-3">
                                <span class=""><img src="../img/icons/create.svg" class="icons" alt=""></span>
                                <span class="">EDIT</span>
                            </button>
                            <button class="btn btn-danger btn-block mx-0 my-0">
                                <span><img src="../img/icons/delete.svg" class="icons" alt=""></span>
                                <span class="">DELETE</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3 col-md-12">
            <div class="widget">
                <div class="widget-body">
                    <div class="product-element product-card">
                        <div class="card-photo" style="background-image: url(../demo/img/products/product8.png)">
                        </div>
                        <h3 class="card-title">2019 Audi A3</h3>
                        <div class="rating fs-mini d-flex justify-content-start">
                            <div class="mr-3">
                                <i class="fa fa-star text-black pr-2" aria-hidden="true"></i>
                                4.0
                            </div>
                            <a href="#" class="fw-semi-bold">53 Reviews</a>
                        </div>
                        <div class="info">
                            STARTING MSRP
                        </div>
                        <div class="price pb-3">
                            $30,300
                        </div>
                        <div role="toolbar" class="d-flex flex-column btn-toolbar">
                            <button type="button" class="btn btn-info btn-block mx-0 mb-3">
                                <span class=""><img src="../img/icons/create.svg" class="icons" alt=""></span>
                                <span class="">EDIT</span>
                            </button>
                            <button class="btn btn-danger btn-block mx-0 my-0">
                                <span><img src="../img/icons/delete.svg" class="icons" alt=""></span>
                                <span class="">DELETE</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3 col-md-12">
            <div class="widget">
                <div class="widget-body">
                    <div class="product-element product-card">
                        <div class="card-photo" style="background-image: url(../demo/img/products/product7.png)">
                            <div class="badge bg-danger rounded-left">Sale</div>
                        </div>
                        <h3 class="card-title">2020 Audi TT</h3>
                        <div class="rating d-flex justify-content-start">
                            <div class="mr-3">
                                <i class="fa fa-star text-black" aria-hidden="true"></i>
                                4.0
                            </div>
                            <a href="#" class="fw-semi-bold">53 Reviews</a>
                        </div>
                        <div class="info">
                            STARTING MSRP
                        </div>
                        <div class="price pb-3">
                            $30,520
                        </div>
                        <div role="toolbar" class="d-flex flex-column btn-toolbar">
                            <button type="button" class="btn btn-info btn-block mx-0 mb-3">
                                <span class=""><img src="../img/icons/create.svg" class="icons" alt=""></span>
                                <span class="">EDIT</span>
                            </button>
                            <button class="btn btn-danger btn-block mx-0 my-0">
                                <span><img src="../img/icons/delete.svg" class="icons" alt=""></span>
                                <span class="">DELETE</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{/content}}
{{#content "scripts"}}
<!-- page specific js -->

{{/content}}
{{/extend}}
