<nav id="sidebar" class="sidebar" role="navigation">
    <!-- need this .js class to initiate slimscroll -->
    <header class="logo d-md-block">
        <a href="https://demo.flatlogic.com/sing-app/">
            <img src="../img/logo.svg" alt="...">
            <b class="fw-bold">Flatlogic</b> One</a>
    </header>
    <div class="js-sidebar-content">
        <h5 class="sidebar-nav-title">App</h5>
        <ul class="sidebar-nav">
            <li class="{{#activeClass active "dashboard_analytics dashboard_visits dashboard_widgets"}} active {{/activeClass}}">
                <a href="#sidebar-dashboard" data-toggle="collapse" data-parent="#sidebar">
                    <i class="sidebar-icon dashboard-icon"></i>
                    <span class="icon-text">Dashboard</span>
                    <i class="toggle fa fa-angle-down"></i>
                </a>
                <ul id="sidebar-dashboard" class="collapse {{#activeClass active "dashboard_analytics dashboard_visits dashboard_widgets"}} show {{/activeClass}}">
                    <li class="{{#activeClass active "dashboard_visits"}} active {{/activeClass}}"><a href="../dashboard/index.html">Analytics</a></li>
                    <li class="{{#activeClass active "dashboard_analytics"}} active {{/activeClass}}"><a href="../dashboard/visits.html">Visits</a></li>
                    <li class="{{#activeClass active "dashboard_widgets"}} active {{/activeClass}}"><a href="../dashboard/widgets.html">Widgets</a></li>
                </ul>
            </li>
            <li class="{{#activeClass active "product_detail product_grid"}} active {{/activeClass}}">
                <a class="collapsed" href="#sidebar-pages" data-toggle="collapse" data-parent="#sidebar">
                    <i class="sidebar-icon e-commerce-icon"></i>
                    <span class="icon-text">E-commerce</span>
                    <i class="toggle fa fa-angle-down"></i>
                </a>
                <ul id="sidebar-pages" class="collapse {{#activeClass active "product_detail product_grid"}} show {{/activeClass}}">
                    <li class="{{#activeClass active "product_detail"}} active {{/activeClass}}"><a href="../e-commerce/product_detail.html">Product Detail</a></li>
                    <li class="{{#activeClass active "product_grid"}} active {{/activeClass}}"><a href="../e-commerce/product_grid.html">Product Grid</a></li>
                </ul>
            </li>
            <li class="{{#activeClass active "package"}} active {{/activeClass}}">
                <a href="../other/package.html">
                    <i class="sidebar-icon package-icon"></i>
                    <span class="icon-text">One Package</span>

                </a>
            </li>
            <li class="{{#activeClass active "profile"}} active {{/activeClass}}">
                <a href="../other/profile.html">
                    <i class="sidebar-icon profile-icon"></i>
                    <span class="icon-text">Profile</span>
                </a>
            </li>
            <li class="{{#activeClass active "email"}} active {{/activeClass}}">
                <a href="../other/inbox.html">
                    <i class="sidebar-icon email-icon"></i>
                    <span class="icon-text">Email</span>
                </a>
            </li>
            <li class="{{#activeClass active "documentation"}} active {{/activeClass}}">
                <a href="">
                    <i class="sidebar-icon documentation-icon"></i>
                    <span class="icon-text">Documentation</span>
                </a>
            </li>
        </ul>
        <h5 class="sidebar-nav-title">Template </h5>
        <ul class="sidebar-nav">
            <li class="{{#activeClass active "core_typography core_colors core_grid"}} active {{/activeClass}}">
                <a class="collapsed" href="#sidebar-core" data-toggle="collapse" data-parent="#sidebar">
                    <i class="sidebar-icon core-icon"></i>
                    <span class="icon-text">Core</span>
                    <i class="toggle fa fa-angle-down"></i>
                </a>
                <ul id="sidebar-core" class="collapse {{#activeClass active "core_typography core_colors core_grid"}} show {{/activeClass}}">
                    <li class="{{#activeClass active "core_typography"}} active {{/activeClass}}"><a href="../core/core_typography.html">Typography</a></li>
                    <li class="{{#activeClass active "core_colors"}} active {{/activeClass}}"><a href="../core/core_colors.html">Colors</a></li>
                    <li class="{{#activeClass active "core_grid"}} active {{/activeClass}}"><a href="../core/core_grid.html">Grid</a></li>
                </ul>
            </li>
            <li class="{{#activeClass active "ui_components ui_notifications ui_icons ui_buttons ui_tabs_accordion ui_list_groups"}} active {{/activeClass}}">
                <a class="collapsed" href="#sidebar-ui" data-toggle="collapse" data-parent="#sidebar">
                    <i class="sidebar-icon ui-icon"></i>
                    <span class="icon-text">UI Elements</span>
                    <i class="toggle fa fa-angle-down"></i>
                </a>
                <ul id="sidebar-ui" class="collapse {{#activeClass active "ui_modal ui_navbar ui_jumbotron ui_nav ui_carousel ui_components ui_notifications ui_icons ui_buttons ui_tabs_accordion ui_list_groups ui_card ui_alerts ui_badge ui_progress ui_popovers_tooltips ui_toasts"}} show {{/activeClass}}">
                    <li class="{{#activeClass active "ui_alerts"}} active {{/activeClass}}"><a href="../components/ui_alerts.html">Alerts</a></li>
                    <li class="{{#activeClass active "ui_badge"}} active {{/activeClass}}"><a href="../components/ui_badge.html">Badge</a></li>
                    <li class="{{#activeClass active "ui_buttons"}} active {{/activeClass}}"><a href="../components/ui_buttons.html">Buttons</a></li>
                    <li class="{{#activeClass active "ui_card"}} active {{/activeClass}}"><a href="../components/ui_card.html">Card</a></li>
                    <li class="{{#activeClass active "ui_carousel"}} active {{/activeClass}}"><a href="../components/ui_carousel.html">Carousel</a></li>
                    <li class="{{#activeClass active "ui_jumbotron"}} active {{/activeClass}}"><a href="../components/ui_jumbotron.html">Jumbotron</a></li>
                    <li class="{{#activeClass active "ui_icons"}} active {{/activeClass}}"><a href="../components/ui_icons.html">Icons</a></li>
                    <li class="{{#activeClass active "ui_list_groups"}} active {{/activeClass}}"><a href="../components/ui_list_groups.html">List Groups</a></li>
                    <li class="{{#activeClass active "ui_modal"}} active {{/activeClass}}"><a href="../components/ui_modal.html">Modal</a></li>
                    <li class="{{#activeClass active "ui_nav"}} active {{/activeClass}}"><a href="../components/ui_nav.html">Nav</a></li>
                    <li class="{{#activeClass active "ui_navbar"}} active {{/activeClass}}"><a href="../components/ui_navbar.html">Navbar</a></li>
                    <li class="{{#activeClass active "ui_notifications"}} active {{/activeClass}}"><a href="../components/ui_notifications.html">Notifications</a></li>
                    <li><a href="../tables/tables_dynamic.html">Pagination</a></li>
                    <li class="{{#activeClass active "ui_popovers_tooltips"}} active {{/activeClass}}"><a href="../components/ui_popovers_tooltips.html">Popovers & Tooltips</a></li>
                    <li class="{{#activeClass active "ui_progress"}} active {{/activeClass}}"><a href="../components/ui_progress.html">Progress</a></li>
                    <li class="{{#activeClass active "ui_tabs_accordion"}} active {{/activeClass}}"><a href="../components/ui_tabs_accordion.html">Tabs & Accordion</a></li>
                    <li class="{{#activeClass active "ui_toasts"}} active {{/activeClass}}"><a href="../components/ui_toasts.html">Toasts
                        <sup class="text-success fw-semi-bold">
                            new
                        </sup></a></li>
                </ul>
            </li>
            <li class="{{#activeClass active "form_elements form_validation form_wizard"}} active {{/activeClass}}">
                <a class="collapsed" href="#sidebar-forms" data-toggle="collapse" data-parent="#sidebar">
                    <i class="sidebar-icon forms-icon"></i>
                    <span class="icon-text">Forms</span>
                    <i class="toggle fa fa-angle-down"></i>
                </a>
                <ul id="sidebar-forms" class="collapse {{#activeClass active "form_elements form_validation form_wizard"}} show {{/activeClass}}">
                    <li class="{{#activeClass active "form_elements"}} active {{/activeClass}}"><a href="../form/form_elements.html">Form Elements</a></li>
                    <li class="{{#activeClass active "form_validation"}} active {{/activeClass}}"><a href="../form/form_validation.html">Form Validation</a></li>
                    <li class="{{#activeClass active "form_wizard"}} active {{/activeClass}}"><a href="../form/form_wizard.html">Form Wizard</a></li>
                </ul>
            </li>
            <li class="{{#activeClass active "charts_flot charts_morris charts_rickshaw charts_sparkline charts_d3 charts_easy_pie charts_overview"}} active {{/activeClass}}">
                <a class="collapsed" href="#sidebar-charts" data-toggle="collapse" data-parent="#sidebar">
                    <i class="sidebar-icon charts-icon"></i>
                    <span class="icon-text">Charts</span>
                    <i class="toggle fa fa-angle-down"></i>
                </a>
                <ul id="sidebar-charts" class="collapse {{#activeClass active "charts_flot charts_morris charts_rickshaw charts_sparkline charts_d3 charts_easy_pie charts_overview"}} show {{/activeClass}}">
                    <li class="{{#activeClass active "charts_overview"}} active {{/activeClass}}"><a href="../charts/charts.html">Charts Overview</a></li>
                    <li class="{{#activeClass active "charts_flot"}} active {{/activeClass}}"><a href="../charts/flot.html">Flot Charts</a></li>
                    <li class="{{#activeClass active "charts_morris"}} active {{/activeClass}}"><a href="../charts/morris.html">Morris Charts</a></li>
                    <li class="{{#activeClass active "charts_rickshaw"}} active {{/activeClass}}"><a href="../charts/rickshaw.html">Rickshaw Charts</a></li>
                    <li class="{{#activeClass active "charts_sparkline"}} active {{/activeClass}}"><a href="../charts/sparkline.html">Sparkline Charts</a></li>
                    <li class="{{#activeClass active "charts_d3"}} active {{/activeClass}}"><a class="no-pjax" href="../charts/d3_plain.html">D3 version 5 Charts</a></li>
                    <li class="{{#activeClass active "charts_easy_pie"}} active {{/activeClass}}"><a href="../charts/easy_pie.html">Easy Pie Charts</a></li>
                </ul>
            </li>
            <li class="{{#activeClass active "grid"}} active {{/activeClass}}">
                <a href="../other/grid.html">
                    <i class="sidebar-icon grid-icon"></i>
                    <span class="icon-text">Grid</span>
                </a>
            </li>
            <li class="{{#activeClass active "tables_basic tables_dynamic"}} active {{/activeClass}}">
                <a class="collapsed" href="#sidebar-tables" data-toggle="collapse" data-parent="#sidebar">
                    <i class="sidebar-icon tables-icon"></i>
                    <span class="icon-text">Tables</span>
                    <i class="toggle fa fa-angle-down"></i>
                </a>
                <ul id="sidebar-tables" class="collapse {{#activeClass active "tables_basic tables_dynamic"}} show {{/activeClass}}">
                    <li class="{{#activeClass active "tables_basic"}} active {{/activeClass}}"><a href="../tables/tables_basic.html">Tables Basic</a></li>
                    <li class="{{#activeClass active "tables_dynamic"}} active {{/activeClass}}"><a href="../tables/tables_dynamic.html">Tables Dynamic</a></li>
                </ul>
            </li>
            <li class="{{#activeClass active "maps_google maps_vector"}} active {{/activeClass}}">
                <a class="collapsed" href="#sidebar-maps" data-toggle="collapse" data-parent="#sidebar">
                    <i class="sidebar-icon maps-icon"></i>
                    <span class="icon-text">Maps</span>
                    <i class="toggle fa fa-angle-down"></i>
                </a>
                <ul id="sidebar-maps" class="collapse {{#activeClass active "maps_google maps_vector"}} show {{/activeClass}}">
                    <li class="{{#activeClass active "maps_google"}} active {{/activeClass}}"><a href="../maps/maps_google.html" data-no-pjax>Google Maps</a></li>
                    <li class="{{#activeClass active "maps_vector"}} active {{/activeClass}}"><a href="../maps/maps_vector.html">Vector Maps</a></li>
                </ul>
            </li>
            <li class="{{#activeClass active "calendar invoice login error gallery search time_line"}} active {{/activeClass}}">
                <a class="collapsed" href="#sidebar-extra" data-toggle="collapse" data-parent="#sidebar">
                    <i class="sidebar-icon extra-icon"></i>
                    <span class="icon-text">Extra</span>
                    <i class="toggle fa fa-angle-down"></i>
                </a>
                <ul id="sidebar-extra" class="collapse {{#activeClass active "calendar invoice login error gallery search time_line"}} show {{/activeClass}}">
                    <li class="{{#activeClass active "calendar"}} active {{/activeClass}}"><a href="../extra/calendar.html">Calendar</a></li>
                    <li class="{{#activeClass active "invoice"}} active {{/activeClass}}"><a href="../extra/invoice.html">Invoice</a></li>
                    <li class="{{#activeClass active "login"}} active {{/activeClass}}"><a href="../extra/login.html" target="_blank" data-no-pjax>Login Page</a></li>
                    <li class="{{#activeClass active "error"}} active {{/activeClass}}"><a href="../extra/error.html" target="_blank" data-no-pjax>Error Page</a></li>
                    <li class="{{#activeClass active "gallery"}} active {{/activeClass}}"><a href="../extra/gallery.html">Gallery</a></li>
                    <li class="{{#activeClass active "search"}} active {{/activeClass}}"><a href="../extra/search.html">Search Results</a></li>
                    <li class="{{#activeClass active "time_line"}} active {{/activeClass}}"><a href="../extra/time_line.html" data-no-pjax>Time Line</a></li>
                </ul>
            </li>
        </ul>
        <ul class="sidebar-nav">
            <hr>
            <li class="{{#activeClass active "settings"}} active {{/activeClass}}">
                <a href="#">
                    <i class="sidebar-icon settings-icon"></i>
                    <span class="icon-text">Settings</span>

                </a>
            </li>
            <li class="{{#activeClass active "account"}} active {{/activeClass}}">
                <a href="#">
                    <i class="sidebar-icon account-icon"></i>
                    <span class="icon-text">Account</span>
                </a>
            </li>
            <li class="{{#activeClass active "logout"}} active {{/activeClass}}">
                <a href="../extra/login.html" target="_blank" data-no-pjax>
                    <i class="sidebar-icon logout-icon"></i>
                    <span class="icon-text">Logout</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
