<div class="theme-helper">
    <section class="widget theme-helper-content">
        <header class="theme-helper-header d-flex p-0">
            <div class="theme-helper-toggler hidden-print" data-step='4' data-position="left" data-intro="It's a theme customizer sidebar, go inside it! ðŸ˜ƒï¸">
                <div class="theme-helper-spinner">
                    <img src="../img/icons/cog.svg" alt="">
                </div>
            </div>
        </header>
        <div class="js-theme-content">
            <h4 class="mb-4">Theme helper</h4>
            <h5 class="fw-semi-bold">Navbar Type</h5>
            <div class="form-group row navbar-sidebar-type">
                <div class="abc-radio">
                    <input type="radio" checked name="navbar-type" id="navbar_static" value="static">
                    <label for="navbar_static">Static</label>
                </div>
                <div class="abc-radio">
                    <input type="radio" name="navbar-type" id="navbar_floating" value="floating">
                    <label for="navbar_floating">Floating</label>
                </div>
            </div>
            <h5>Navbar Color</h5>
            <ul class="colors-list">
                <li class="color-box-nav-bar active" style="background-color: rgb(50, 50, 50);" data-style=""></li>
                <li class="color-box-nav-bar" style="background-color: rgb(255, 255, 255);" data-style="navbar-white"></li>
            </ul>
            <h5 class="fw-semi-bold">Sidebar Type</h5>
            <div class="form-group row navbar-sidebar-type">
                <div class="abc-radio"><input type="radio" checked name="sidebar-type" id="sidebar_transparent" value="transparent">
                    <label for="sidebar_transparent">Transparent</label>
                </div>
                <div class="abc-radio"><input type="radio" name="sidebar-type" id="sidebar_solid" value="solid" checked>
                    <label for="sidebar_solid">Solid</label>
                </div>
            </div>
            <h5 class="fw-semi-bold">Sidebar Color</h5>
            <ul class="colors-list">
                <li class="color-box-side-bar " style="background-color: rgb(50, 50, 50);" data-style="dark"></li>
                <li class="color-box-side-bar active" style="background-color: rgb(255, 255, 255);" data-style="first"></li>
            </ul>
            <h5 class="fw-semi-bold">Theme Color</h5>
            <ul class="colors-list">
                <li class="color-box active-theme" style="background-color: rgb(254, 190, 105);" data-style="first"></li>
                <li class="color-box" style="background-color: rgb(255, 119, 105);" data-style="second"></li>
                <li class="color-box " style="background-color: rgb(129, 212, 187);" data-style="third"></li>
                <li class="color-box" style="background-color: rgb(77, 199, 223);" data-style="fourth"></li>
            </ul>
            <div class="mt-4">
                <a href="https://flatlogic.com/"
                   target="_blank"
                   role="button"
                   class="btn btn-dark btn-rounded btn-block fs-mini">
                    <span class="fw-semi-bold">Purchase</span>
                </a>
                <a href="http://demo.flatlogic.com/"
                   target="_blank"
                   role="button"
                   class="btn btn-warning btn-rounded btn-block fs-mini">
                    <span class="fw-semi-bold">Documentation</span>
                </a>
            </div>
        </div>
    </section>
</div>
